In [24]:
import pandas as pd
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
%matplotlib qt

## Read the Data
Thanks to https://github.com/pomber/covid19 for preparing the data.

In [25]:
covid_19 = pd.read_json("https://pomber.github.io/covid19/timeseries.json")

## Transform the Data
What we need for better work is a DataFrame with (date, country, confirmed, deaths, recoverd) columns. This is what the json_normalize function do.
And we extract the first date for a country where the confirmed cases has a given value.

In [26]:
covid_df = pd.DataFrame(columns = ['date', 'confirmed', 'deaths', 'recovered', 'country'])
covid_threshold = pd.DataFrame(columns = ['date', 'confirmed', 'deaths', 'recovered', 'country'])
treshold=1000
for country in covid_19.columns:
    # normalize, set country, convert date
    cdf = pd.json_normalize(covid_19[country])
    cdf['country'] = str(country)
    cdf['date'] = pd.to_datetime(cdf['date'])
    covid_df = pd.concat([covid_df, cdf])
        
    # all indices for confirmed greater than and add to covid_threshold
    index_values = cdf[cdf['confirmed'].gt(treshold)].index
    if len(index_values) > 0:
        covid_threshold = pd.concat([covid_threshold, cdf.iloc[[index_values[0]]]])

## Show the Spreading over the world

In [42]:
date_only=covid_threshold[['date','country']].copy()
cnt = date_only.groupby(date_only["date"]).count()
cnt['cum_count'] = cnt['country'].cumsum()

#plot data
fig, ax = plt.subplots(figsize=(15,7))
ax.bar(cnt.index, cnt['cum_count'])

ax.set_title("Number of Countries by First Date Over {} Confirmed Cases".format(treshold))
#set ticks every week
ax.xaxis.set_major_locator(mdates.WeekdayLocator())
#set major ticks format
ax.xaxis.set_major_formatter(mdates.DateFormatter('%b %d'))

In [28]:
def get_country_data(country):
    return covid_df[covid_df['country'] == country]

## Compare Countries

In [96]:
countries=['US', 'China', 'Germany']
xcoords = pd.date_range(start='2020-01-17', end=dt.datetime.now().strftime('%Y-%m-%d'), freq='W')

fig, axes = plt.subplots(len(countries), 2, figsize=(15,7))
yposition = 0
for c in countries:
    df = pd.DataFrame(get_country_data(c))
    df['diff_confirmed'] = df['confirmed'].diff()
    df['rolling_mean_week'] = df['confirmed'].rolling(7).mean()
    df['rolling_mean_diff_week'] = df['diff_confirmed'].rolling(7).mean()
    showLegend = True if yposition == 0 else False
    
    df[['date','confirmed']].plot(ax=axes[yposition, 0], sharex=True, x='date', legend=showLegend)
    df[['date','rolling_mean_week']].plot(ax=axes[yposition, 0], sharex=True, x='date', legend=showLegend)

    df[['date','diff_confirmed']].plot(ax=axes[yposition, 1], sharex=True, x='date', legend=showLegend)
    df[['date','rolling_mean_diff_week']].plot(ax=axes[yposition, 1], sharex=True, x='date', legend=showLegend)
    
    for xc in xcoords:
        axes[yposition, 0].axvline(xc, color='grey', linestyle=':')
        axes[yposition, 1].axvline(xc, color='grey', linestyle=':')
    
    axes[yposition, 0].set_title(c)
    yposition += 1
    
plt.show()

## Adding Population and Percentual View

In [30]:
# downloaded from http://api.worldbank.org/v2/en/indicator/SP.POP.TOTL?downloadformat=csv
population = pd.read_csv("data/API_SP.POP.TOTL_DS2_en_csv_v2_887275.csv", skiprows=4, header=0)

In [31]:
def get_population(p, c, y):
    rv = population.loc[population['Country Name']==c][y]
    rv = 0 if rv.empty else float(rv)
    return rv

In [32]:
def get_percent(h,v):
    return (100 * v)/h if h else 0

In [33]:
covid_df['pop_2018'] = covid_df.apply (lambda row: get_population(population, row['country'], '2018'), axis=1)

In [34]:
covid_df.head()

        date confirmed deaths recovered      country    pop_2018
0 2020-01-22         0      0         0  Afghanistan  37172386.0
1 2020-01-23         0      0         0  Afghanistan  37172386.0
2 2020-01-24         0      0         0  Afghanistan  37172386.0
3 2020-01-25         0      0         0  Afghanistan  37172386.0
4 2020-01-26         0      0         0  Afghanistan  37172386.0

In [35]:
covid_df.groupby(['country'], as_index=False, sort=False)[['date']].max()

                   country       date
0              Afghanistan 2020-04-11
1                  Albania 2020-04-11
2                  Algeria 2020-04-11
3                  Andorra 2020-04-11
4                   Angola 2020-04-11
..                     ...        ...
180                 Malawi 2020-04-11
181            South Sudan 2020-04-11
182         Western Sahara 2020-04-11
183  Sao Tome and Principe 2020-04-11
184                  Yemen 2020-04-11

[185 rows x 2 columns]

In [36]:
# select the data for the last existing date in the dataframe
country_df = covid_df.groupby('country', as_index=False).apply(lambda x: x.loc[x.date.argmax()])

### compare confirmed vs. deaths

In [37]:
country_df['percent_deaths'] = country_df.apply (lambda x: get_percent(x.confirmed, x.deaths), axis=1)
## country_df = country_df[country_df['percent_deaths'] > 0.0001]
country_df = country_df.dropna()

In [38]:
country_df_sort = country_df.sort_values(by=['percent_deaths'], ascending=True)

In [39]:
country_df_sort.plot.barh(x='country', y='percent_deaths')

In [40]:
country_df

80,date,confirmed,deaths,recovered,country,pop_2018,percent_deaths
0,2020-04-11,555,18,32,Afghanistan,37172386.0,3.243243
1,2020-04-11,433,23,197,Albania,2866376.0,5.311778
2,2020-04-11,1825,275,460,Algeria,42228429.0,15.068493
3,2020-04-11,601,26,71,Andorra,77006.0,4.326123
4,2020-04-11,19,2,4,Angola,30809762.0,10.526316
...,...,...,...,...,...,...,...
180,2020-04-11,268,2,57,West Bank and Gaza,4569087.0,0.746269
181,2020-04-11,4,0,0,Western Sahara,0.0,0.000000
182,2020-04-11,1,0,0,Yemen,0.0,0.000000
183,2020-04-11,40,2,28,Zambia,17351822.0,5.000000
184,2020-04-11,14,3,0,Zimbabwe,14439018.0,21.428571

In [41]:
country_df.to_csv('data/covid-death-confirmed.csv', index=False)

In [55]:
for g in covid_df.groupby('country'):
    print(type(g), g)

<class 'tuple'> ('Afghanistan',          date confirmed deaths recovered      country    pop_2018
0  2020-01-22         0      0         0  Afghanistan  37172386.0
1  2020-01-23         0      0         0  Afghanistan  37172386.0
2  2020-01-24         0      0         0  Afghanistan  37172386.0
3  2020-01-25         0      0         0  Afghanistan  37172386.0
4  2020-01-26         0      0         0  Afghanistan  37172386.0
..        ...       ...    ...       ...          ...         ...
76 2020-04-07       423     14        18  Afghanistan  37172386.0
77 2020-04-08       444     14        29  Afghanistan  37172386.0
78 2020-04-09       484     15        32  Afghanistan  37172386.0
79 2020-04-10       521     15        32  Afghanistan  37172386.0
80 2020-04-11       555     18        32  Afghanistan  37172386.0

[81 rows x 6 columns])
<class 'tuple'> ('Albania',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Albania  2866376.0
1  2020-01-23         0      0         0  Albania  2866376.0
2  2020-01-24         0      0         0  Albania  2866376.0
3  2020-01-25         0      0         0  Albania  2866376.0
4  2020-01-26         0      0         0  Albania  2866376.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07       383     22       131  Albania  2866376.0
77 2020-04-08       400     22       154  Albania  2866376.0
78 2020-04-09       409     23       165  Albania  2866376.0
79 2020-04-10       416     23       182  Albania  2866376.0
80 2020-04-11       433     23       197  Albania  2866376.0

[81 rows x 6 columns])
<class 'tuple'> ('Algeria',          date confirmed deaths recovered  country    pop_2018
0  2020-01-22         0      0         0  Algeria  42228429.0
1  2020-01-23         0      0         0  Algeria  42228429.0
2  2020-01-24         0      0         0  Algeria  42228429.0
3  2020-01-25         0      0         0  Algeria  42228429.0
4  2020-01-26         0      0         0  Algeria  42228429.0
..        ...       ...    ...       ...      ...         ...
76 2020-04-07      1468    193       113  Algeria  42228429.0
77 2020-04-08      1572    205       237  Algeria  42228429.0
78 2020-04-09      1666    235       347  Algeria  42228429.0
79 2020-04-10      1761    256       405  Algeria  42228429.0
80 2020-04-11      1825    275       460  Algeria  42228429.0

[81 rows x 6 columns])
<class 'tuple'> ('Andorra',          date confirmed deaths recovered  country  pop_2018
0  2020-01-22         0      0         0  Andorra   77006.0
1  2020-01-23         0      0         0  Andorra   77006.0
2  2020-01-24         0      0         0  Andorra   77006.0
3  2020-01-25         0      0         0  Andorra   77006.0
4  2020-01-26         0      0         0  Andorra   77006.0
..        ...       ...    ...       ...      ...       ...
76 2020-04-07       545     22        39  Andorra   77006.0
77 2020-04-08       564     23        52  Andorra   77006.0
78 2020-04-09       583     25        58  Andorra   77006.0
79 2020-04-10       601     26        71  Andorra   77006.0
80 2020-04-11       601     26        71  Andorra   77006.0

[81 rows x 6 columns])
<class 'tuple'> ('Angola',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0  Angola  30809762.0
1  2020-01-23         0      0         0  Angola  30809762.0
2  2020-01-24         0      0         0  Angola  30809762.0
3  2020-01-25         0      0         0  Angola  30809762.0
4  2020-01-26         0      0         0  Angola  30809762.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07        17      2         2  Angola  30809762.0
77 2020-04-08        19      2         2  Angola  30809762.0
78 2020-04-09        19      2         2  Angola  30809762.0
79 2020-04-10        19      2         2  Angola  30809762.0
80 2020-04-11        19      2         4  Angola  30809762.0

[81 rows x 6 columns])
<class 'tuple'> ('Antigua and Barbuda',          date confirmed deaths recovered              country  pop_2018
0  2020-01-22         0      0         0  Antigua and Barbuda   96286.0
1  2020-01-23         0      0         0  Antigua and Barbuda   96286.0
2  2020-01-24         0      0         0  Antigua and Barbuda   96286.0
3  2020-01-25         0      0         0  Antigua and Barbuda   96286.0
4  2020-01-26         0      0         0  Antigua and Barbuda   96286.0
..        ...       ...    ...       ...                  ...       ...
76 2020-04-07        19      1         0  Antigua and Barbuda   96286.0
77 2020-04-08        19      2         0  Antigua and Barbuda   96286.0
78 2020-04-09        19      2         0  Antigua and Barbuda   96286.0
79 2020-04-10        19      2         0  Antigua and Barbuda   96286.0
80 2020-04-11        21      2         0  Antigua and Barbuda   96286.0

[81 rows x 6 columns])
<class 'tuple'> ('Argentina',          date confirmed deaths recovered    country    pop_2018
0  2020-01-22         0      0         0  Argentina  44494502.0
1  2020-01-23         0      0         0  Argentina  44494502.0
2  2020-01-24         0      0         0  Argentina  44494502.0
3  2020-01-25         0      0         0  Argentina  44494502.0
4  2020-01-26         0      0         0  Argentina  44494502.0
..        ...       ...    ...       ...        ...         ...
76 2020-04-07      1628     56       338  Argentina  44494502.0
77 2020-04-08      1715     63       358  Argentina  44494502.0
78 2020-04-09      1795     72       365  Argentina  44494502.0
79 2020-04-10      1975     82       375  Argentina  44494502.0
80 2020-04-11      1975     83       440  Argentina  44494502.0

[81 rows x 6 columns])
<class 'tuple'> ('Armenia',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Armenia  2951776.0
1  2020-01-23         0      0         0  Armenia  2951776.0
2  2020-01-24         0      0         0  Armenia  2951776.0
3  2020-01-25         0      0         0  Armenia  2951776.0
4  2020-01-26         0      0         0  Armenia  2951776.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07       853      8        87  Armenia  2951776.0
77 2020-04-08       881      9       114  Armenia  2951776.0
78 2020-04-09       921     10       138  Armenia  2951776.0
79 2020-04-10       937     12       149  Armenia  2951776.0
80 2020-04-11       967     13       173  Armenia  2951776.0

[81 rows x 6 columns])
<class 'tuple'> ('Australia',          date confirmed deaths recovered    country    pop_2018
0  2020-01-22         0      0         0  Australia  24992369.0
1  2020-01-23         0      0         0  Australia  24992369.0
2  2020-01-24         0      0         0  Australia  24992369.0
3  2020-01-25         0      0         0  Australia  24992369.0
4  2020-01-26         4      0         0  Australia  24992369.0
..        ...       ...    ...       ...        ...         ...
76 2020-04-07      5895     45      1080  Australia  24992369.0
77 2020-04-08      6010     50      1080  Australia  24992369.0
78 2020-04-09      6108     51      1472  Australia  24992369.0
79 2020-04-10      6215     54      1793  Australia  24992369.0
80 2020-04-11      6303     57      1806  Australia  24992369.0

[81 rows x 6 columns])
<class 'tuple'> ('Austria',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Austria  8847037.0
1  2020-01-23         0      0         0  Austria  8847037.0
2  2020-01-24         0      0         0  Austria  8847037.0
3  2020-01-25         0      0         0  Austria  8847037.0
4  2020-01-26         0      0         0  Austria  8847037.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07     12639    243      4046  Austria  8847037.0
77 2020-04-08     12942    273      4512  Austria  8847037.0
78 2020-04-09     13244    295      5240  Austria  8847037.0
79 2020-04-10     13555    319      6064  Austria  8847037.0
80 2020-04-11     13806    337      6604  Austria  8847037.0

[81 rows x 6 columns])
<class 'tuple'> ('Azerbaijan',          date confirmed deaths recovered     country   pop_2018
0  2020-01-22         0      0         0  Azerbaijan  9942334.0
1  2020-01-23         0      0         0  Azerbaijan  9942334.0
2  2020-01-24         0      0         0  Azerbaijan  9942334.0
3  2020-01-25         0      0         0  Azerbaijan  9942334.0
4  2020-01-26         0      0         0  Azerbaijan  9942334.0
..        ...       ...    ...       ...         ...        ...
76 2020-04-07       717      8        44  Azerbaijan  9942334.0
77 2020-04-08       822      8        63  Azerbaijan  9942334.0
78 2020-04-09       926      9       101  Azerbaijan  9942334.0
79 2020-04-10       991     10       159  Azerbaijan  9942334.0
80 2020-04-11      1058     11       200  Azerbaijan  9942334.0

[81 rows x 6 columns])
<class 'tuple'> ('Bahamas',          date confirmed deaths recovered  country  pop_2018
0  2020-01-22         0      0         0  Bahamas       0.0
1  2020-01-23         0      0         0  Bahamas       0.0
2  2020-01-24         0      0         0  Bahamas       0.0
3  2020-01-25         0      0         0  Bahamas       0.0
4  2020-01-26         0      0         0  Bahamas       0.0
..        ...       ...    ...       ...      ...       ...
76 2020-04-07        33      6         5  Bahamas       0.0
77 2020-04-08        40      7         5  Bahamas       0.0
78 2020-04-09        41      8         5  Bahamas       0.0
79 2020-04-10        42      8         5  Bahamas       0.0
80 2020-04-11        46      8         5  Bahamas       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Bahrain',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Bahrain  1569439.0
1  2020-01-23         0      0         0  Bahrain  1569439.0
2  2020-01-24         0      0         0  Bahrain  1569439.0
3  2020-01-25         0      0         0  Bahrain  1569439.0
4  2020-01-26         0      0         0  Bahrain  1569439.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07       811      5       458  Bahrain  1569439.0
77 2020-04-08       823      5       477  Bahrain  1569439.0
78 2020-04-09       887      5       519  Bahrain  1569439.0
79 2020-04-10       925      6       539  Bahrain  1569439.0
80 2020-04-11      1040      6       555  Bahrain  1569439.0

[81 rows x 6 columns])
<class 'tuple'> ('Bangladesh',          date confirmed deaths recovered     country     pop_2018
0  2020-01-22         0      0         0  Bangladesh  161356039.0
1  2020-01-23         0      0         0  Bangladesh  161356039.0
2  2020-01-24         0      0         0  Bangladesh  161356039.0
3  2020-01-25         0      0         0  Bangladesh  161356039.0
4  2020-01-26         0      0         0  Bangladesh  161356039.0
..        ...       ...    ...       ...         ...          ...
76 2020-04-07       164     17        33  Bangladesh  161356039.0
77 2020-04-08       218     20        33  Bangladesh  161356039.0
78 2020-04-09       330     21        33  Bangladesh  161356039.0
79 2020-04-10       424     27        33  Bangladesh  161356039.0
80 2020-04-11       482     30        36  Bangladesh  161356039.0

[81 rows x 6 columns])
<class 'tuple'> ('Barbados',          date confirmed deaths recovered   country  pop_2018
0  2020-01-22         0      0         0  Barbados  286641.0
1  2020-01-23         0      0         0  Barbados  286641.0
2  2020-01-24         0      0         0  Barbados  286641.0
3  2020-01-25         0      0         0  Barbados  286641.0
4  2020-01-26         0      0         0  Barbados  286641.0
..        ...       ...    ...       ...       ...       ...
76 2020-04-07        63      3         6  Barbados  286641.0
77 2020-04-08        63      3         8  Barbados  286641.0
78 2020-04-09        66      3        11  Barbados  286641.0
79 2020-04-10        67      4        11  Barbados  286641.0
80 2020-04-11        68      4        11  Barbados  286641.0

[81 rows x 6 columns])
<class 'tuple'> ('Belarus',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Belarus  9485386.0
1  2020-01-23         0      0         0  Belarus  9485386.0
2  2020-01-24         0      0         0  Belarus  9485386.0
3  2020-01-25         0      0         0  Belarus  9485386.0
4  2020-01-26         0      0         0  Belarus  9485386.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07       861     13        54  Belarus  9485386.0
77 2020-04-08      1066     13        77  Belarus  9485386.0
78 2020-04-09      1486     16       139  Belarus  9485386.0
79 2020-04-10      1981     19       169  Belarus  9485386.0
80 2020-04-11      2226     23       172  Belarus  9485386.0

[81 rows x 6 columns])
<class 'tuple'> ('Belgium',          date confirmed deaths recovered  country    pop_2018
0  2020-01-22         0      0         0  Belgium  11422068.0
1  2020-01-23         0      0         0  Belgium  11422068.0
2  2020-01-24         0      0         0  Belgium  11422068.0
3  2020-01-25         0      0         0  Belgium  11422068.0
4  2020-01-26         0      0         0  Belgium  11422068.0
..        ...       ...    ...       ...      ...         ...
76 2020-04-07     22194   2035      4157  Belgium  11422068.0
77 2020-04-08     23403   2240      4681  Belgium  11422068.0
78 2020-04-09     24983   2523      5164  Belgium  11422068.0
79 2020-04-10     26667   3019      5568  Belgium  11422068.0
80 2020-04-11     28018   3346      5986  Belgium  11422068.0

[81 rows x 6 columns])
<class 'tuple'> ('Belize',          date confirmed deaths recovered country  pop_2018
0  2020-01-22         0      0         0  Belize  383071.0
1  2020-01-23         0      0         0  Belize  383071.0
2  2020-01-24         0      0         0  Belize  383071.0
3  2020-01-25         0      0         0  Belize  383071.0
4  2020-01-26         0      0         0  Belize  383071.0
..        ...       ...    ...       ...     ...       ...
76 2020-04-07         7      1         0  Belize  383071.0
77 2020-04-08         8      1         0  Belize  383071.0
78 2020-04-09         9      1         0  Belize  383071.0
79 2020-04-10        10      2         0  Belize  383071.0
80 2020-04-11        13      2         0  Belize  383071.0

[81 rows x 6 columns])
<class 'tuple'> ('Benin',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0   Benin  11485048.0
1  2020-01-23         0      0         0   Benin  11485048.0
2  2020-01-24         0      0         0   Benin  11485048.0
3  2020-01-25         0      0         0   Benin  11485048.0
4  2020-01-26         0      0         0   Benin  11485048.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07        26      1         5   Benin  11485048.0
77 2020-04-08        26      1         5   Benin  11485048.0
78 2020-04-09        26      1         5   Benin  11485048.0
79 2020-04-10        35      1         5   Benin  11485048.0
80 2020-04-11        35      1         5   Benin  11485048.0

[81 rows x 6 columns])
<class 'tuple'> ('Bhutan',          date confirmed deaths recovered country  pop_2018
0  2020-01-22         0      0         0  Bhutan  754394.0
1  2020-01-23         0      0         0  Bhutan  754394.0
2  2020-01-24         0      0         0  Bhutan  754394.0
3  2020-01-25         0      0         0  Bhutan  754394.0
4  2020-01-26         0      0         0  Bhutan  754394.0
..        ...       ...    ...       ...     ...       ...
76 2020-04-07         5      0         2  Bhutan  754394.0
77 2020-04-08         5      0         2  Bhutan  754394.0
78 2020-04-09         5      0         2  Bhutan  754394.0
79 2020-04-10         5      0         2  Bhutan  754394.0
80 2020-04-11         5      0         2  Bhutan  754394.0

[81 rows x 6 columns])
<class 'tuple'> ('Bolivia',          date confirmed deaths recovered  country    pop_2018
0  2020-01-22         0      0         0  Bolivia  11353142.0
1  2020-01-23         0      0         0  Bolivia  11353142.0
2  2020-01-24         0      0         0  Bolivia  11353142.0
3  2020-01-25         0      0         0  Bolivia  11353142.0
4  2020-01-26         0      0         0  Bolivia  11353142.0
..        ...       ...    ...       ...      ...         ...
76 2020-04-07       194     14         2  Bolivia  11353142.0
77 2020-04-08       210     15         2  Bolivia  11353142.0
78 2020-04-09       264     18         2  Bolivia  11353142.0
79 2020-04-10       268     19         2  Bolivia  11353142.0
80 2020-04-11       275     20         2  Bolivia  11353142.0

[81 rows x 6 columns])
<class 'tuple'> ('Bosnia and Herzegovina',          date confirmed deaths recovered                 country   pop_2018
0  2020-01-22         0      0         0  Bosnia and Herzegovina  3323929.0
1  2020-01-23         0      0         0  Bosnia and Herzegovina  3323929.0
2  2020-01-24         0      0         0  Bosnia and Herzegovina  3323929.0
3  2020-01-25         0      0         0  Bosnia and Herzegovina  3323929.0
4  2020-01-26         0      0         0  Bosnia and Herzegovina  3323929.0
..        ...       ...    ...       ...                     ...        ...
76 2020-04-07       764     33        68  Bosnia and Herzegovina  3323929.0
77 2020-04-08       804     34        79  Bosnia and Herzegovina  3323929.0
78 2020-04-09       858     35       101  Bosnia and Herzegovina  3323929.0
79 2020-04-10       901     36       129  Bosnia and Herzegovina  3323929.0
80 2020-04-11       946     37       139  Bosnia and Herzegovina  3323929.0

[81 rows x 6 columns])
<class 'tuple'> ('Botswana',          date confirmed deaths recovered   country   pop_2018
0  2020-01-22         0      0         0  Botswana  2254126.0
1  2020-01-23         0      0         0  Botswana  2254126.0
2  2020-01-24         0      0         0  Botswana  2254126.0
3  2020-01-25         0      0         0  Botswana  2254126.0
4  2020-01-26         0      0         0  Botswana  2254126.0
..        ...       ...    ...       ...       ...        ...
76 2020-04-07         6      1         0  Botswana  2254126.0
77 2020-04-08         6      1         0  Botswana  2254126.0
78 2020-04-09        13      1         0  Botswana  2254126.0
79 2020-04-10        13      1         0  Botswana  2254126.0
80 2020-04-11        13      1         0  Botswana  2254126.0

[81 rows x 6 columns])
<class 'tuple'> ('Brazil',          date confirmed deaths recovered country     pop_2018
0  2020-01-22         0      0         0  Brazil  209469333.0
1  2020-01-23         0      0         0  Brazil  209469333.0
2  2020-01-24         0      0         0  Brazil  209469333.0
3  2020-01-25         0      0         0  Brazil  209469333.0
4  2020-01-26         0      0         0  Brazil  209469333.0
..        ...       ...    ...       ...     ...          ...
76 2020-04-07     14034    686       127  Brazil  209469333.0
77 2020-04-08     16170    819       127  Brazil  209469333.0
78 2020-04-09     18092    950       173  Brazil  209469333.0
79 2020-04-10     19638   1057       173  Brazil  209469333.0
80 2020-04-11     20727   1124       173  Brazil  209469333.0

[81 rows x 6 columns])
<class 'tuple'> ('Brunei',          date confirmed deaths recovered country  pop_2018
0  2020-01-22         0      0         0  Brunei       0.0
1  2020-01-23         0      0         0  Brunei       0.0
2  2020-01-24         0      0         0  Brunei       0.0
3  2020-01-25         0      0         0  Brunei       0.0
4  2020-01-26         0      0         0  Brunei       0.0
..        ...       ...    ...       ...     ...       ...
76 2020-04-07       135      1        85  Brunei       0.0
77 2020-04-08       135      1        91  Brunei       0.0
78 2020-04-09       135      1        92  Brunei       0.0

<class 'tuple'> ('China',          date confirmed deaths recovered country      pop_2018
0  2020-01-22       548     17        28   China  1.392730e+09
1  2020-01-23       643     18        30   China  1.392730e+09
2  2020-01-24       920     26        36   China  1.392730e+09
3  2020-01-25      1406     42        39   China  1.392730e+09
4  2020-01-26      2075     56        49   China  1.392730e+09
..        ...       ...    ...       ...     ...           ...
76 2020-04-07     82718   3335     77410   China  1.392730e+09
77 2020-04-08     82809   3337     77567   China  1.392730e+09
78 2020-04-09     82883   3339     77679   China  1.392730e+09
79 2020-04-10     82941   3340     77791   China  1.392730e+09
80 2020-04-11     83014   3343     77877   China  1.392730e+09

[81 rows x 6 columns])
<class 'tuple'> ('Colombia',          date confirmed deaths recovered   country    pop_2018
0  2020-01-22         0      0         0  Colombia  49648685.0
1  2020-01-23         0      0         0  Colombia  49648685.0
2  2020-01-24         0      0         0  Colombia  49648685.0
3  2020-01-25         0      0         0  Colombia  49648685.0
4  2020-01-26         0      0         0  Colombia  49648685.0
..        ...       ...    ...       ...       ...         ...
76 2020-04-07      1780     50       100  Colombia  49648685.0
77 2020-04-08      2054     54       123  Colombia  49648685.0
78 2020-04-09      2223     69       174  Colombia  49648685.0
79 2020-04-10      2473     80       197  Colombia  49648685.0
80 2020-04-11      2709    100       214  Colombia  49648685.0

[81 rows x 6 columns])
<class 'tuple'> ('Congo (Brazzaville)',          date confirmed deaths recovered              country  pop_2018
0  2020-01-22         0      0         0  Congo (Brazzaville)       0.0
1  2020-01-23         0      0         0  Congo (Brazzaville)       0.0
2  2020-01-24         0      0         0  Congo (Brazzaville)       0.0
3  2020-01-25         0      0         0  Congo (Brazzaville)       0.0
4  2020-01-26         0      0         0  Congo (Brazzaville)       0.0
..        ...       ...    ...       ...                  ...       ...
76 2020-04-07        45      5         2  Congo (Brazzaville)       0.0
77 2020-04-08        45      5         2  Congo (Brazzaville)       0.0
78 2020-04-09        60      5         5  Congo (Brazzaville)       0.0
79 2020-04-10        60      5         5  Congo (Brazzaville)       0.0
80 2020-04-11        60      5         5  Congo (Brazzaville)       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Congo (Kinshasa)',          date confirmed deaths recovered           country  pop_2018
0  2020-01-22         0      0         0  Congo (Kinshasa)       0.0
1  2020-01-23         0      0         0  Congo (Kinshasa)       0.0
2  2020-01-24         0      0         0  Congo (Kinshasa)       0.0
3  2020-01-25         0      0         0  Congo (Kinshasa)       0.0
4  2020-01-26         0      0         0  Congo (Kinshasa)       0.0
..        ...       ...    ...       ...               ...       ...
76 2020-04-07       180     18         9  Congo (Kinshasa)       0.0
77 2020-04-08       180     18         9  Congo (Kinshasa)       0.0
78 2020-04-09       180     18         9  Congo (Kinshasa)       0.0
79 2020-04-10       215     20        13  Congo (Kinshasa)       0.0
80 2020-04-11       223     20        16  Congo (Kinshasa)       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Costa Rica',          date confirmed deaths recovered     country   pop_2018
0  2020-01-22         0      0         0  Costa Rica  4999441.0
1  2020-01-23         0      0         0  Costa Rica  4999441.0
2  2020-01-24         0      0         0  Costa Rica  4999441.0
3  2020-01-25         0      0         0  Costa Rica  4999441.0
4  2020-01-26         0      0         0  Costa Rica  4999441.0
..        ...       ...    ...       ...         ...        ...
76 2020-04-07       483      2        24  Costa Rica  4999441.0
77 2020-04-08       502      3        29  Costa Rica  4999441.0
78 2020-04-09       539      3        30  Costa Rica  4999441.0
79 2020-04-10       558      3        42  Costa Rica  4999441.0
80 2020-04-11       577      3        49  Costa Rica  4999441.0

[81 rows x 6 columns])
<class 'tuple'> ("Cote d'Ivoire",          date confirmed deaths recovered        country    pop_2018
0  2020-01-22         0      0         0  Cote d'Ivoire  25069229.0
1  2020-01-23         0      0         0  Cote d'Ivoire  25069229.0
2  2020-01-24         0      0         0  Cote d'Ivoire  25069229.0
3  2020-01-25         0      0         0  Cote d'Ivoire  25069229.0
4  2020-01-26         0      0         0  Cote d'Ivoire  25069229.0
..        ...       ...    ...       ...            ...         ...
76 2020-04-07       349      3        41  Cote d'Ivoire  25069229.0
77 2020-04-08       384      3        48  Cote d'Ivoire  25069229.0
78 2020-04-09       444      3        52  Cote d'Ivoire  25069229.0
79 2020-04-10       444      3        52  Cote d'Ivoire  25069229.0
80 2020-04-11       533      4        58  Cote d'Ivoire  25069229.0

[81 rows x 6 columns])
<class 'tuple'> ('Croatia',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Croatia  4089400.0
1  2020-01-23         0      0         0  Croatia  4089400.0
2  2020-01-24         0      0         0  Croatia  4089400.0
3  2020-01-25         0      0         0  Croatia  4089400.0
4  2020-01-26         0      0         0  Croatia  4089400.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07      1282     18       167  Croatia  4089400.0
77 2020-04-08      1343     19       179  Croatia  4089400.0
78 2020-04-09      1407     20       219  Croatia  4089400.0
79 2020-04-10      1495     21       231  Croatia  4089400.0
80 2020-04-11      1534     21       323  Croatia  4089400.0

[81 rows x 6 columns])
<class 'tuple'> ('Cuba',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0    Cuba  11338138.0
1  2020-01-23         0      0         0    Cuba  11338138.0
2  2020-01-24         0      0         0    Cuba  11338138.0
3  2020-01-25         0      0         0    Cuba  11338138.0
4  2020-01-26         0      0         0    Cuba  11338138.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07       396     11        27    Cuba  11338138.0
77 2020-04-08       457     12        27    Cuba  11338138.0
78 2020-04-09       515     15        28    Cuba  11338138.0
79 2020-04-10       564     15        51    Cuba  11338138.0
80 2020-04-11       620     16        77    Cuba  11338138.0

[81 rows x 6 columns])
<class 'tuple'> ('Cyprus',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0  Cyprus  1189265.0
1  2020-01-23         0      0         0  Cyprus  1189265.0
2  2020-01-24         0      0         0  Cyprus  1189265.0
3  2020-01-25         0      0         0  Cyprus  1189265.0
4  2020-01-26         0      0         0  Cyprus  1189265.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07       494      9        47  Cyprus  1189265.0
77 2020-04-08       526      9        52  Cyprus  1189265.0
78 2020-04-09       564     10        53  Cyprus  1189265.0
79 2020-04-10       595     10        58  Cyprus  1189265.0
80 2020-04-11       616     10        61  Cyprus  1189265.0

[81 rows x 6 columns])
<class 'tuple'> ('Czechia',          date confirmed deaths recovered  country  pop_2018
0  2020-01-22         0      0         0  Czechia       0.0
1  2020-01-23         0      0         0  Czechia       0.0
2  2020-01-24         0      0         0  Czechia       0.0
3  2020-01-25         0      0         0  Czechia       0.0
4  2020-01-26         0      0         0  Czechia       0.0
..        ...       ...    ...       ...      ...       ...
76 2020-04-07      5017     88       172  Czechia       0.0
77 2020-04-08      5312     99       233  Czechia       0.0
78 2020-04-09      5569    112       301  Czechia       0.0
79 2020-04-10      5732    119       346  Czechia       0.0
80 2020-04-11      5831    129       411  Czechia       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Denmark',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Denmark  5797446.0
1  2020-01-23         0      0         0  Denmark  5797446.0
2  2020-01-24         0      0         0  Denmark  5797446.0
3  2020-01-25         0      0         0  Denmark  5797446.0
4  2020-01-26         0      0         0  Denmark  5797446.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07      5266    203      1621  Denmark  5797446.0
77 2020-04-08      5597    218      1763  Denmark  5797446.0
78 2020-04-09      5830    237      1883  Denmark  5797446.0
79 2020-04-10      6014    247      1929  Denmark  5797446.0
80 2020-04-11      6191    260      2111  Denmark  5797446.0

[81 rows x 6 columns])
<class 'tuple'> ('Diamond Princess',          date confirmed deaths recovered           country  pop_2018
0  2020-01-22         0      0         0  Diamond Princess       0.0
1  2020-01-23         0      0         0  Diamond Princess       0.0
2  2020-01-24         0      0         0  Diamond Princess       0.0
3  2020-01-25         0      0         0  Diamond Princess       0.0
4  2020-01-26         0      0         0  Diamond Princess       0.0
..        ...       ...    ...       ...               ...       ...
76 2020-04-07       712     11       619  Diamond Princess       0.0
77 2020-04-08       712     11       619  Diamond Princess       0.0
78 2020-04-09       712     11       619  Diamond Princess       0.0
79 2020-04-10       712     11       619  Diamond Princess       0.0
80 2020-04-11       712     11       619  Diamond Princess       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Djibouti',          date confirmed deaths recovered   country  pop_2018
0  2020-01-22         0      0         0  Djibouti  958920.0
1  2020-01-23         0      0         0  Djibouti  958920.0
2  2020-01-24         0      0         0  Djibouti  958920.0
3  2020-01-25         0      0         0  Djibouti  958920.0
4  2020-01-26         0      0         0  Djibouti  958920.0
..        ...       ...    ...       ...       ...       ...
76 2020-04-07        90      0         9  Djibouti  958920.0
77 2020-04-08       135      0        25  Djibouti  958920.0
78 2020-04-09       135      0        25  Djibouti  958920.0
79 2020-04-10       150      1        36  Djibouti  958920.0
80 2020-04-11       187      2        36  Djibouti  958920.0

[81 rows x 6 columns])
<class 'tuple'> ('Dominica',          date confirmed deaths recovered   country  pop_2018
0  2020-01-22         0      0         0  Dominica   71625.0
1  2020-01-23         0      0         0  Dominica   71625.0
2  2020-01-24         0      0         0  Dominica   71625.0
3  2020-01-25         0      0         0  Dominica   71625.0
4  2020-01-26         0      0         0  Dominica   71625.0
..        ...       ...    ...       ...       ...       ...
76 2020-04-07        15      0         1  Dominica   71625.0
77 2020-04-08        15      0         1  Dominica   71625.0
78 2020-04-09        15      0         1  Dominica   71625.0
79 2020-04-10        16      0         5  Dominica   71625.0
80 2020-04-11        16      0         5  Dominica   71625.0

[81 rows x 6 columns])
<class 'tuple'> ('Dominican Republic',          date confirmed deaths recovered             country    pop_2018
0  2020-01-22         0      0         0  Dominican Republic  10627165.0
1  2020-01-23         0      0         0  Dominican Republic  10627165.0
2  2020-01-24         0      0         0  Dominican Republic  10627165.0
3  2020-01-25         0      0         0  Dominican Republic  10627165.0
4  2020-01-26         0      0         0  Dominican Republic  10627165.0
..        ...       ...    ...       ...                 ...         ...
76 2020-04-07      1956     98        36  Dominican Republic  10627165.0
77 2020-04-08      2111    108        50  Dominican Republic  10627165.0
78 2020-04-09      2349    118        80  Dominican Republic  10627165.0
79 2020-04-10      2620    126        98  Dominican Republic  10627165.0
80 2020-04-11      2759    135       108  Dominican Republic  10627165.0

[81 rows x 6 columns])
<class 'tuple'> ('Ecuador',          date confirmed deaths recovered  country    pop_2018
0  2020-01-22         0      0         0  Ecuador  17084357.0
1  2020-01-23         0      0         0  Ecuador  17084357.0
2  2020-01-24         0      0         0  Ecuador  17084357.0
3  2020-01-25         0      0         0  Ecuador  17084357.0
4  2020-01-26         0      0         0  Ecuador  17084357.0
..        ...       ...    ...       ...      ...         ...
76 2020-04-07      3747    191       100  Ecuador  17084357.0
77 2020-04-08      4450    242       140  Ecuador  17084357.0
78 2020-04-09      4965    272       339  Ecuador  17084357.0
79 2020-04-10      7161    297       368  Ecuador  17084357.0
80 2020-04-11      7257    315       411  Ecuador  17084357.0

[81 rows x 6 columns])
<class 'tuple'> ('Egypt',          date confirmed deaths recovered country  pop_2018
0  2020-01-22         0      0         0   Egypt       0.0
1  2020-01-23         0      0         0   Egypt       0.0
2  2020-01-24         0      0         0   Egypt       0.0
3  2020-01-25         0      0         0   Egypt       0.0
4  2020-01-26         0      0         0   Egypt       0.0
..        ...       ...    ...       ...     ...       ...
76 2020-04-07      1450     94       276   Egypt       0.0
77 2020-04-08      1560    103       305   Egypt       0.0
78 2020-04-09      1699    118       348   Egypt       0.0
79 2020-04-10      1794    135       384   Egypt       0.0
80 2020-04-11      1939    146       426   Egypt       0.0

[81 rows x 6 columns])
<class 'tuple'> ('El Salvador',          date confirmed deaths recovered      country   pop_2018
0  2020-01-22         0      0         0  El Salvador  6420744.0
1  2020-01-23         0      0         0  El Salvador  6420744.0
2  2020-01-24         0      0         0  El Salvador  6420744.0
3  2020-01-25         0      0         0  El Salvador  6420744.0
4  2020-01-26         0      0         0  El Salvador  6420744.0
..        ...       ...    ...       ...          ...        ...
76 2020-04-07        78      4         5  El Salvador  6420744.0
77 2020-04-08        93      5         9  El Salvador  6420744.0
78 2020-04-09       103      6        14  El Salvador  6420744.0
79 2020-04-10       117      6        15  El Salvador  6420744.0
80 2020-04-11       118      6        19  El Salvador  6420744.0

[81 rows x 6 columns])
<class 'tuple'> ('Equatorial Guinea',          date confirmed deaths recovered            country   pop_2018
0  2020-01-22         0      0         0  Equatorial Guinea  1308974.0
1  2020-01-23         0      0         0  Equatorial Guinea  1308974.0
2  2020-01-24         0      0         0  Equatorial Guinea  1308974.0
3  2020-01-25         0      0         0  Equatorial Guinea  1308974.0
4  2020-01-26         0      0         0  Equatorial Guinea  1308974.0
..        ...       ...    ...       ...                ...        ...
76 2020-04-07        16      0         3  Equatorial Guinea  1308974.0
77 2020-04-08        18      0         3  Equatorial Guinea  1308974.0
78 2020-04-09        18      0         3  Equatorial Guinea  1308974.0
79 2020-04-10        18      0         3  Equatorial Guinea  1308974.0
80 2020-04-11        18      0         3  Equatorial Guinea  1308974.0

[81 rows x 6 columns])
<class 'tuple'> ('Eritrea',          date confirmed deaths recovered  country  pop_2018
0  2020-01-22         0      0         0  Eritrea       NaN
1  2020-01-23         0      0         0  Eritrea       NaN
2  2020-01-24         0      0         0  Eritrea       NaN
3  2020-01-25         0      0         0  Eritrea       NaN
4  2020-01-26         0      0         0  Eritrea       NaN
..        ...       ...    ...       ...      ...       ...
76 2020-04-07        31      0         0  Eritrea       NaN
77 2020-04-08        33      0         0  Eritrea       NaN
78 2020-04-09        33      0         0  Eritrea       NaN
79 2020-04-10        34      0         0  Eritrea       NaN
80 2020-04-11        34      0         0  Eritrea       NaN

[81 rows x 6 columns])
<class 'tuple'> ('Estonia',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Estonia  1320884.0
1  2020-01-23         0      0         0  Estonia  1320884.0
2  2020-01-24         0      0         0  Estonia  1320884.0
3  2020-01-25         0      0         0  Estonia  1320884.0
4  2020-01-26         0      0         0  Estonia  1320884.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07      1149     21        69  Estonia  1320884.0
77 2020-04-08      1185     24        72  Estonia  1320884.0
78 2020-04-09      1207     24        83  Estonia  1320884.0
79 2020-04-10      1258     24        93  Estonia  1320884.0
80 2020-04-11      1304     24        93  Estonia  1320884.0

[81 rows x 6 columns])
<class 'tuple'> ('Eswatini',          date confirmed deaths recovered   country   pop_2018
0  2020-01-22         0      0         0  Eswatini  1136191.0
1  2020-01-23         0      0         0  Eswatini  1136191.0
2  2020-01-24         0      0         0  Eswatini  1136191.0
3  2020-01-25         0      0         0  Eswatini  1136191.0
4  2020-01-26         0      0         0  Eswatini  1136191.0
..        ...       ...    ...       ...       ...        ...
76 2020-04-07        10      0         4  Eswatini  1136191.0
77 2020-04-08        12      0         7  Eswatini  1136191.0
78 2020-04-09        12      0         7  Eswatini  1136191.0
79 2020-04-10        12      0         7  Eswatini  1136191.0
80 2020-04-11        12      0         7  Eswatini  1136191.0

[81 rows x 6 columns])
<class 'tuple'> ('Ethiopia',          date confirmed deaths recovered   country     pop_2018
0  2020-01-22         0      0         0  Ethiopia  109224559.0
1  2020-01-23         0      0         0  Ethiopia  109224559.0
2  2020-01-24         0      0         0  Ethiopia  109224559.0
3  2020-01-25         0      0         0  Ethiopia  109224559.0
4  2020-01-26         0      0         0  Ethiopia  109224559.0
..        ...       ...    ...       ...       ...          ...
76 2020-04-07        52      2         4  Ethiopia  109224559.0
77 2020-04-08        55      2         4  Ethiopia  109224559.0
78 2020-04-09        56      2         4  Ethiopia  109224559.0
79 2020-04-10        65      3         4  Ethiopia  109224559.0
80 2020-04-11        69      3        10  Ethiopia  109224559.0

[81 rows x 6 columns])
<class 'tuple'> ('Fiji',          date confirmed deaths recovered country  pop_2018
0  2020-01-22         0      0         0    Fiji  883483.0
1  2020-01-23         0      0         0    Fiji  883483.0
2  2020-01-24         0      0         0    Fiji  883483.0
3  2020-01-25         0      0         0    Fiji  883483.0
4  2020-01-26         0      0         0    Fiji  883483.0
..        ...       ...    ...       ...     ...       ...
76 2020-04-07        15      0         0    Fiji  883483.0
77 2020-04-08        15      0         0    Fiji  883483.0
78 2020-04-09        15      0         0    Fiji  883483.0
79 2020-04-10        16      0         0    Fiji  883483.0
80 2020-04-11        16      0         0    Fiji  883483.0

[81 rows x 6 columns])
<class 'tuple'> ('Finland',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Finland  5518050.0
1  2020-01-23         0      0         0  Finland  5518050.0
2  2020-01-24         0      0         0  Finland  5518050.0
3  2020-01-25         0      0         0  Finland  5518050.0

[81 rows x 6 columns])
<class 'tuple'> ('India',          date confirmed deaths recovered country      pop_2018
0  2020-01-22         0      0         0   India  1.352617e+09
1  2020-01-23         0      0         0   India  1.352617e+09
2  2020-01-24         0      0         0   India  1.352617e+09
3  2020-01-25         0      0         0   India  1.352617e+09
4  2020-01-26         0      0         0   India  1.352617e+09
..        ...       ...    ...       ...     ...           ...
76 2020-04-07      5311    150       421   India  1.352617e+09
77 2020-04-08      5916    178       506   India  1.352617e+09
78 2020-04-09      6725    226       620   India  1.352617e+09
79 2020-04-10      7598    246       774   India  1.352617e+09
80 2020-04-11      8446    288       969   India  1.352617e+09

[81 rows x 6 columns])
<class 'tuple'> ('Indonesia',          date confirmed deaths recovered    country     pop_2018
0  2020-01-22         0      0         0  Indonesia  267663435.0
1  2020-01-23         0      0         0  Indonesia  267663435.0
2  2020-01-24         0      0         0  Indonesia  267663435.0
3  2020-01-25         0      0         0  Indonesia  267663435.0
4  2020-01-26         0      0         0  Indonesia  267663435.0
..        ...       ...    ...       ...        ...          ...
76 2020-04-07      2738    221       204  Indonesia  267663435.0
77 2020-04-08      2956    240       222  Indonesia  267663435.0
78 2020-04-09      3293    280       252  Indonesia  267663435.0
79 2020-04-10      3512    306       282  Indonesia  267663435.0
80 2020-04-11      3842    327       286  Indonesia  267663435.0

[81 rows x 6 columns])
<class 'tuple'> ('Iran',          date confirmed deaths recovered country  pop_2018
0  2020-01-22         0      0         0    Iran       0.0
1  2020-01-23         0      0         0    Iran       0.0
2  2020-01-24         0      0         0    Iran       0.0
3  2020-01-25         0      0         0    Iran       0.0
4  2020-01-26         0      0         0    Iran       0.0
..        ...       ...    ...       ...     ...       ...
76 2020-04-07     62589   3872     27039    Iran       0.0
77 2020-04-08     64586   3993     29812    Iran       0.0
78 2020-04-09     66220   4110     32309    Iran       0.0
79 2020-04-10     68192   4232     35465    Iran       0.0
80 2020-04-11     70029   4357     41947    Iran       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Iraq',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0    Iraq  38433600.0
1  2020-01-23         0      0         0    Iraq  38433600.0
2  2020-01-24         0      0         0    Iraq  38433600.0
3  2020-01-25         0      0         0    Iraq  38433600.0
4  2020-01-26         0      0         0    Iraq  38433600.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07      1122     65       373    Iraq  38433600.0
77 2020-04-08      1202     69       452    Iraq  38433600.0
78 2020-04-09      1232     69       496    Iraq  38433600.0
79 2020-04-10      1279     70       550    Iraq  38433600.0
80 2020-04-11      1318     72       601    Iraq  38433600.0

[81 rows x 6 columns])
<class 'tuple'> ('Ireland',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Ireland  4853506.0
1  2020-01-23         0      0         0  Ireland  4853506.0
2  2020-01-24         0      0         0  Ireland  4853506.0
3  2020-01-25         0      0         0  Ireland  4853506.0
4  2020-01-26         0      0         0  Ireland  4853506.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07      5709    210        25  Ireland  4853506.0
77 2020-04-08      6074    235        25  Ireland  4853506.0
78 2020-04-09      6574    263        25  Ireland  4853506.0
79 2020-04-10      8089    287        25  Ireland  4853506.0
80 2020-04-11      8928    320        25  Ireland  4853506.0

[81 rows x 6 columns])
<class 'tuple'> ('Israel',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0  Israel  8883800.0
1  2020-01-23         0      0         0  Israel  8883800.0
2  2020-01-24         0      0         0  Israel  8883800.0
3  2020-01-25         0      0         0  Israel  8883800.0
4  2020-01-26         0      0         0  Israel  8883800.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07      9248     65       770  Israel  8883800.0
77 2020-04-08      9404     73       801  Israel  8883800.0
78 2020-04-09      9968     86      1011  Israel  8883800.0
79 2020-04-10     10408     95      1183  Israel  8883800.0
80 2020-04-11     10743    101      1341  Israel  8883800.0

[81 rows x 6 columns])
<class 'tuple'> ('Italy',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0   Italy  60431283.0
1  2020-01-23         0      0         0   Italy  60431283.0
2  2020-01-24         0      0         0   Italy  60431283.0
3  2020-01-25         0      0         0   Italy  60431283.0
4  2020-01-26         0      0         0   Italy  60431283.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07    135586  17127     24392   Italy  60431283.0
77 2020-04-08    139422  17669     26491   Italy  60431283.0
78 2020-04-09    143626  18279     28470   Italy  60431283.0
79 2020-04-10    147577  18849     30455   Italy  60431283.0
80 2020-04-11    152271  19468     32534   Italy  60431283.0

[81 rows x 6 columns])
<class 'tuple'> ('Jamaica',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Jamaica  2934855.0
1  2020-01-23         0      0         0  Jamaica  2934855.0
2  2020-01-24         0      0         0  Jamaica  2934855.0
3  2020-01-25         0      0         0  Jamaica  2934855.0
4  2020-01-26         0      0         0  Jamaica  2934855.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07        63      3         8  Jamaica  2934855.0
77 2020-04-08        63      4        10  Jamaica  2934855.0
78 2020-04-09        63      4        12  Jamaica  2934855.0
79 2020-04-10        63      4        13  Jamaica  2934855.0
80 2020-04-11        65      4        13  Jamaica  2934855.0

[81 rows x 6 columns])
<class 'tuple'> ('Japan',          date confirmed deaths recovered country     pop_2018
0  2020-01-22         2      0         0   Japan  126529100.0
1  2020-01-23         2      0         0   Japan  126529100.0
2  2020-01-24         2      0         0   Japan  126529100.0
3  2020-01-25         2      0         0   Japan  126529100.0
4  2020-01-26         4      0         1   Japan  126529100.0
..        ...       ...    ...       ...     ...          ...
76 2020-04-07      3906     92       592   Japan  126529100.0
77 2020-04-08      4257     93       622   Japan  126529100.0
78 2020-04-09      4667     94       632   Japan  126529100.0
79 2020-04-10      5530     99       685   Japan  126529100.0
80 2020-04-11      6005     99       762   Japan  126529100.0

[81 rows x 6 columns])
<class 'tuple'> ('Jordan',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0  Jordan  9956011.0
1  2020-01-23         0      0         0  Jordan  9956011.0
2  2020-01-24         0      0         0  Jordan  9956011.0
3  2020-01-25         0      0         0  Jordan  9956011.0
4  2020-01-26         0      0         0  Jordan  9956011.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07       353      6       138  Jordan  9956011.0
77 2020-04-08       358      6       150  Jordan  9956011.0
78 2020-04-09       372      7       161  Jordan  9956011.0
79 2020-04-10       372      7       170  Jordan  9956011.0
80 2020-04-11       381      7       177  Jordan  9956011.0

[81 rows x 6 columns])
<class 'tuple'> ('Kazakhstan',          date confirmed deaths recovered     country    pop_2018
0  2020-01-22         0      0         0  Kazakhstan  18276499.0
1  2020-01-23         0      0         0  Kazakhstan  18276499.0
2  2020-01-24         0      0         0  Kazakhstan  18276499.0
3  2020-01-25         0      0         0  Kazakhstan  18276499.0
4  2020-01-26         0      0         0  Kazakhstan  18276499.0
..        ...       ...    ...       ...         ...         ...
76 2020-04-07       697      6        51  Kazakhstan  18276499.0
77 2020-04-08       727      7        54  Kazakhstan  18276499.0
78 2020-04-09       781      8        60  Kazakhstan  18276499.0
79 2020-04-10       812     10        64  Kazakhstan  18276499.0
80 2020-04-11       865     10        81  Kazakhstan  18276499.0

[81 rows x 6 columns])
<class 'tuple'> ('Kenya',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0   Kenya  51393010.0
1  2020-01-23         0      0         0   Kenya  51393010.0
2  2020-01-24         0      0         0   Kenya  51393010.0
3  2020-01-25         0      0         0   Kenya  51393010.0
4  2020-01-26         0      0         0   Kenya  51393010.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07       172      6         7   Kenya  51393010.0
77 2020-04-08       179      6         9   Kenya  51393010.0
78 2020-04-09       184      7        12   Kenya  51393010.0
79 2020-04-10       189      7        22   Kenya  51393010.0
80 2020-04-11       191      7        24   Kenya  51393010.0

[81 rows x 6 columns])
<class 'tuple'> ('Korea, South',          date confirmed deaths recovered       country  pop_2018
0  2020-01-22         1      0         0  Korea, South       0.0
1  2020-01-23         1      0         0  Korea, South       0.0
2  2020-01-24         2      0         0  Korea, South       0.0
3  2020-01-25         2      0         0  Korea, South       0.0
4  2020-01-26         3      0         0  Korea, South       0.0
..        ...       ...    ...       ...           ...       ...
76 2020-04-07     10331    192      6694  Korea, South       0.0
77 2020-04-08     10384    200      6776  Korea, South       0.0
78 2020-04-09     10423    204      6973  Korea, South       0.0
79 2020-04-10     10450    208      7117  Korea, South       0.0
80 2020-04-11     10480    211      7243  Korea, South       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Kosovo',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0  Kosovo  1845300.0
1  2020-01-23         0      0         0  Kosovo  1845300.0
2  2020-01-24         0      0         0  Kosovo  1845300.0
3  2020-01-25         0      0         0  Kosovo  1845300.0
4  2020-01-26         0      0         0  Kosovo  1845300.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07       170      4        24  Kosovo  1845300.0
77 2020-04-08       184      5        30  Kosovo  1845300.0
78 2020-04-09       184      5        30  Kosovo  1845300.0
79 2020-04-10       250      7        52  Kosovo  1845300.0
80 2020-04-11       283      7        58  Kosovo  1845300.0

[81 rows x 6 columns])
<class 'tuple'> ('Kuwait',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0  Kuwait  4137309.0
1  2020-01-23         0      0         0  Kuwait  4137309.0
2  2020-01-24         0      0         0  Kuwait  4137309.0
3  2020-01-25         0      0         0  Kuwait  4137309.0
4  2020-01-26         0      0         0  Kuwait  4137309.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07       743      1       105  Kuwait  4137309.0
77 2020-04-08       855      1       111  Kuwait  4137309.0
78 2020-04-09       910      1       111  Kuwait  4137309.0
79 2020-04-10       993      1       123  Kuwait  4137309.0
80 2020-04-11      1154      1       133  Kuwait  4137309.0

[81 rows x 6 columns])
<class 'tuple'> ('Kyrgyzstan',          date confirmed deaths recovered     country  pop_2018
0  2020-01-22         0      0         0  Kyrgyzstan       0.0
1  2020-01-23         0      0         0  Kyrgyzstan       0.0
2  2020-01-24         0      0         0  Kyrgyzstan       0.0
3  2020-01-25         0      0         0  Kyrgyzstan       0.0
4  2020-01-26         0      0         0  Kyrgyzstan       0.0
..        ...       ...    ...       ...         ...       ...
76 2020-04-07       228      4        33  Kyrgyzstan       0.0
77 2020-04-08       270      4        33  Kyrgyzstan       0.0
78 2020-04-09       280      4        35  Kyrgyzstan       0.0
79 2020-04-10       298      5        35  Kyrgyzstan       0.0
80 2020-04-11       339      5        44  Kyrgyzstan       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Laos',          date confirmed deaths recovered country  pop_2018
0  2020-01-22         0      0         0    Laos       0.0
1  2020-01-23         0      0         0    Laos       0.0
2  2020-01-24         0      0         0    Laos       0.0
3  2020-01-25         0      0         0    Laos       0.0
4  2020-01-26         0      0         0    Laos       0.0
..        ...       ...    ...       ...     ...       ...
76 2020-04-07        14      0         0    Laos       0.0
77 2020-04-08        15      0         0    Laos       0.0
78 2020-04-09        16      0         0    Laos       0.0
79 2020-04-10        16      0         0    Laos       0.0
80 2020-04-11        18      0         0    Laos       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Latvia',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0  Latvia  1926542.0
1  2020-01-23         0      0         0  Latvia  1926542.0
2  2020-01-24         0      0         0  Latvia  1926542.0
3  2020-01-25         0      0         0  Latvia  1926542.0
4  2020-01-26         0      0         0  Latvia  1926542.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07       548      2        16  Latvia  1926542.0
77 2020-04-08       577      2        16  Latvia  1926542.0
78 2020-04-09       589      3        16  Latvia  1926542.0
79 2020-04-10       612      3        16  Latvia  1926542.0
80 2020-04-11       630      3        16  Latvia  1926542.0

[81 rows x 6 columns])
<class 'tuple'> ('Lebanon',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Lebanon  6848925.0
1  2020-01-23         0      0         0  Lebanon  6848925.0
2  2020-01-24         0      0         0  Lebanon  6848925.0
3  2020-01-25         0      0         0  Lebanon  6848925.0
4  2020-01-26         0      0         0  Lebanon  6848925.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07       548     19        62  Lebanon  6848925.0
77 2020-04-08       576     19        62  Lebanon  6848925.0
78 2020-04-09       582     19        67  Lebanon  6848925.0
79 2020-04-10       609     20        76  Lebanon  6848925.0
80 2020-04-11       619     20        77  Lebanon  6848925.0

[81 rows x 6 columns])
<class 'tuple'> ('Liberia',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Liberia  4818977.0
1  2020-01-23         0      0         0  Liberia  4818977.0
2  2020-01-24         0      0         0  Liberia  4818977.0
3  2020-01-25         0      0         0  Liberia  4818977.0
4  2020-01-26         0      0         0  Liberia  4818977.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07        14      3         3  Liberia  4818977.0
77 2020-04-08        31      4         3  Liberia  4818977.0
78 2020-04-09        31      4         3  Liberia  4818977.0
79 2020-04-10        37      5         3  Liberia  4818977.0
80 2020-04-11        48      5         3  Liberia  4818977.0

[81 rows x 6 columns])
<class 'tuple'> ('Libya',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0   Libya  6678567.0
1  2020-01-23         0      0         0   Libya  6678567.0
2  2020-01-24         0      0         0   Libya  6678567.0
3  2020-01-25         0      0         0   Libya  6678567.0
4  2020-01-26         0      0         0   Libya  6678567.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07        20      1         1   Libya  6678567.0
77 2020-04-08        21      1         8   Libya  6678567.0
78 2020-04-09        24      1         8   Libya  6678567.0
79 2020-04-10        24      1         8   Libya  6678567.0
80 2020-04-11        24      1         8   Libya  6678567.0

[81 rows x 6 columns])
<class 'tuple'> ('Liechtenstein',          date confirmed deaths recovered        country  pop_2018
0  2020-01-22         0      0         0  Liechtenstein   37910.0
1  2020-01-23         0      0         0  Liechtenstein   37910.0
2  2020-01-24         0      0         0  Liechtenstein   37910.0
3  2020-01-25         0      0         0  Liechtenstein   37910.0
4  2020-01-26         0      0         0  Liechtenstein   37910.0
..        ...       ...    ...       ...            ...       ...
76 2020-04-07        78      1        55  Liechtenstein   37910.0
77 2020-04-08        78      1        55  Liechtenstein   37910.0
78 2020-04-09        78      1        55  Liechtenstein   37910.0
79 2020-04-10        79      1        55  Liechtenstein   37910.0
80 2020-04-11        79      1        55  Liechtenstein   37910.0

[81 rows x 6 columns])
<class 'tuple'> ('Lithuania',          date confirmed deaths recovered    country   pop_2018
0  2020-01-22         0      0         0  Lithuania  2789533.0
1  2020-01-23         0      0         0  Lithuania  2789533.0
2  2020-01-24         0      0         0  Lithuania  2789533.0
3  2020-01-25         0      0         0  Lithuania  2789533.0
4  2020-01-26         0      0         0  Lithuania  2789533.0
..        ...       ...    ...       ...        ...        ...
76 2020-04-07       880     15         8  Lithuania  2789533.0
77 2020-04-08       912     15         8  Lithuania  2789533.0
78 2020-04-09       955     16         8  Lithuania  2789533.0
79 2020-04-10       999     22        54  Lithuania  2789533.0
80 2020-04-11      1026     23        54  Lithuania  2789533.0

[81 rows x 6 columns])
<class 'tuple'> ('Luxembourg',          date confirmed deaths recovered     country  pop_2018
0  2020-01-22         0      0         0  Luxembourg  607728.0
1  2020-01-23         0      0         0  Luxembourg  607728.0
2  2020-01-24         0      0         0  Luxembourg  607728.0
3  2020-01-25         0      0         0  Luxembourg  607728.0
4  2020-01-26         0      0         0  Luxembourg  607728.0
..        ...       ...    ...       ...         ...       ...
76 2020-04-07      2970     44       500  Luxembourg  607728.0
77 2020-04-08      3034     46       500  Luxembourg  607728.0
78 2020-04-09      3115     52       500  Luxembourg  607728.0
79 2020-04-10      3223     54       500  Luxembourg  607728.0
80 2020-04-11      3270     62       500  Luxembourg  607728.0

[81 rows x 6 columns])
<class 'tuple'> ('MS Zaandam',          date confirmed deaths recovered     country  pop_2018
0  2020-01-22         0      0         0  MS Zaandam       0.0
1  2020-01-23         0      0         0  MS Zaandam       0.0
2  2020-01-24         0      0         0  MS Zaandam       0.0
3  2020-01-25         0      0         0  MS Zaandam       0.0
4  2020-01-26         0      0         0  MS Zaandam       0.0
..        ...       ...    ...       ...         ...       ...
76 2020-04-07         9      2         0  MS Zaandam       0.0
77 2020-04-08         9      2         0  MS Zaandam       0.0
78 2020-04-09         9      2         0  MS Zaandam       0.0
79 2020-04-10         9      2         0  MS Zaandam       0.0
80 2020-04-11         9      2         0  MS Zaandam       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Madagascar',          date confirmed deaths recovered     country    pop_2018

[81 rows x 6 columns])
<class 'tuple'> ('Mozambique',          date confirmed deaths recovered     country    pop_2018
0  2020-01-22         0      0         0  Mozambique  29495962.0
1  2020-01-23         0      0         0  Mozambique  29495962.0
2  2020-01-24         0      0         0  Mozambique  29495962.0
3  2020-01-25         0      0         0  Mozambique  29495962.0
4  2020-01-26         0      0         0  Mozambique  29495962.0
..        ...       ...    ...       ...         ...         ...
76 2020-04-07        10      0         1  Mozambique  29495962.0
77 2020-04-08        17      0         1  Mozambique  29495962.0
78 2020-04-09        17      0         1  Mozambique  29495962.0
79 2020-04-10        20      0         2  Mozambique  29495962.0
80 2020-04-11        20      0         2  Mozambique  29495962.0

[81 rows x 6 columns])
<class 'tuple'> ('Namibia',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Namibia  2448255.0
1  2020-01-23         0      0         0  Namibia  2448255.0
2  2020-01-24         0      0         0  Namibia  2448255.0
3  2020-01-25         0      0         0  Namibia  2448255.0
4  2020-01-26         0      0         0  Namibia  2448255.0
..        ...       ...    ...       ...      ...        ...
76 2020-04-07        16      0         3  Namibia  2448255.0
77 2020-04-08        16      0         3  Namibia  2448255.0
78 2020-04-09        16      0         3  Namibia  2448255.0
79 2020-04-10        16      0         3  Namibia  2448255.0
80 2020-04-11        16      0         3  Namibia  2448255.0

[81 rows x 6 columns])
<class 'tuple'> ('Nepal',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0   Nepal  28087871.0
1  2020-01-23         0      0         0   Nepal  28087871.0
2  2020-01-24         0      0         0   Nepal  28087871.0
3  2020-01-25         1      0         0   Nepal  28087871.0
4  2020-01-26         1      0         0   Nepal  28087871.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07         9      0         1   Nepal  28087871.0
77 2020-04-08         9      0         1   Nepal  28087871.0
78 2020-04-09         9      0         1   Nepal  28087871.0
79 2020-04-10         9      0         1   Nepal  28087871.0
80 2020-04-11         9      0         1   Nepal  28087871.0

[81 rows x 6 columns])
<class 'tuple'> ('Netherlands',          date confirmed deaths recovered      country    pop_2018
0  2020-01-22         0      0         0  Netherlands  17231017.0
1  2020-01-23         0      0         0  Netherlands  17231017.0
2  2020-01-24         0      0         0  Netherlands  17231017.0
3  2020-01-25         0      0         0  Netherlands  17231017.0
4  2020-01-26         0      0         0  Netherlands  17231017.0
..        ...       ...    ...       ...          ...         ...
76 2020-04-07     19709   2108       272  Netherlands  17231017.0
77 2020-04-08     20682   2255       272  Netherlands  17231017.0
78 2020-04-09     21903   2403       278  Netherlands  17231017.0
79 2020-04-10     23249   2520       287  Netherlands  17231017.0
80 2020-04-11     24571   2653       291  Netherlands  17231017.0

[81 rows x 6 columns])
<class 'tuple'> ('New Zealand',          date confirmed deaths recovered      country   pop_2018
0  2020-01-22         0      0         0  New Zealand  4885500.0
1  2020-01-23         0      0         0  New Zealand  4885500.0
2  2020-01-24         0      0         0  New Zealand  4885500.0
3  2020-01-25         0      0         0  New Zealand  4885500.0
4  2020-01-26         0      0         0  New Zealand  4885500.0
..        ...       ...    ...       ...          ...        ...
76 2020-04-07      1160      1       241  New Zealand  4885500.0
77 2020-04-08      1210      1       282  New Zealand  4885500.0
78 2020-04-09      1239      1       317  New Zealand  4885500.0
79 2020-04-10      1283      2       373  New Zealand  4885500.0
80 2020-04-11      1312      4       422  New Zealand  4885500.0

[81 rows x 6 columns])
<class 'tuple'> ('Nicaragua',          date confirmed deaths recovered    country   pop_2018
0  2020-01-22         0      0         0  Nicaragua  6465513.0
1  2020-01-23         0      0         0  Nicaragua  6465513.0
2  2020-01-24         0      0         0  Nicaragua  6465513.0
3  2020-01-25         0      0         0  Nicaragua  6465513.0
4  2020-01-26         0      0         0  Nicaragua  6465513.0
..        ...       ...    ...       ...        ...        ...
76 2020-04-07         6      1         0  Nicaragua  6465513.0
77 2020-04-08         6      1         0  Nicaragua  6465513.0
78 2020-04-09         7      1         0  Nicaragua  6465513.0
79 2020-04-10         7      1         0  Nicaragua  6465513.0
80 2020-04-11         8      1         0  Nicaragua  6465513.0

[81 rows x 6 columns])
<class 'tuple'> ('Niger',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0   Niger  22442948.0
1  2020-01-23         0      0         0   Niger  22442948.0
2  2020-01-24         0      0         0   Niger  22442948.0
3  2020-01-25         0      0         0   Niger  22442948.0
4  2020-01-26         0      0         0   Niger  22442948.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07       278     11        26   Niger  22442948.0
77 2020-04-08       342     11        28   Niger  22442948.0
78 2020-04-09       410     11        40   Niger  22442948.0
79 2020-04-10       438     11        41   Niger  22442948.0
80 2020-04-11       491     11        41   Niger  22442948.0

[81 rows x 6 columns])
<class 'tuple'> ('Nigeria',          date confirmed deaths recovered  country     pop_2018
0  2020-01-22         0      0         0  Nigeria  195874740.0
1  2020-01-23         0      0         0  Nigeria  195874740.0
2  2020-01-24         0      0         0  Nigeria  195874740.0
3  2020-01-25         0      0         0  Nigeria  195874740.0
4  2020-01-26         0      0         0  Nigeria  195874740.0
..        ...       ...    ...       ...      ...          ...
76 2020-04-07       254      6        44  Nigeria  195874740.0
77 2020-04-08       276      6        44  Nigeria  195874740.0
78 2020-04-09       288      7        51  Nigeria  195874740.0
79 2020-04-10       305      7        58  Nigeria  195874740.0
80 2020-04-11       318     10        70  Nigeria  195874740.0

[81 rows x 6 columns])
<class 'tuple'> ('North Macedonia',          date confirmed deaths recovered          country   pop_2018
0  2020-01-22         0      0         0  North Macedonia  2082958.0
1  2020-01-23         0      0         0  North Macedonia  2082958.0
2  2020-01-24         0      0         0  North Macedonia  2082958.0
3  2020-01-25         0      0         0  North Macedonia  2082958.0
4  2020-01-26         0      0         0  North Macedonia  2082958.0
..        ...       ...    ...       ...              ...        ...
76 2020-04-07       599     26        30  North Macedonia  2082958.0
77 2020-04-08       617     29        35  North Macedonia  2082958.0
78 2020-04-09       663     30        37  North Macedonia  2082958.0
79 2020-04-10       711     32        41  North Macedonia  2082958.0
80 2020-04-11       760     34        41  North Macedonia  2082958.0

[81 rows x 6 columns])
<class 'tuple'> ('Norway',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0  Norway  5314336.0
1  2020-01-23         0      0         0  Norway  5314336.0
2  2020-01-24         0      0         0  Norway  5314336.0
3  2020-01-25         0      0         0  Norway  5314336.0
4  2020-01-26         0      0         0  Norway  5314336.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07      6086     89        32  Norway  5314336.0
77 2020-04-08      6086    101        32  Norway  5314336.0
78 2020-04-09      6211    108        32  Norway  5314336.0
79 2020-04-10      6314    113        32  Norway  5314336.0
80 2020-04-11      6409    119        32  Norway  5314336.0

[81 rows x 6 columns])
<class 'tuple'> ('Oman',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0    Oman  4829483.0
1  2020-01-23         0      0         0    Oman  4829483.0
2  2020-01-24         0      0         0    Oman  4829483.0
3  2020-01-25         0      0         0    Oman  4829483.0
4  2020-01-26         0      0         0    Oman  4829483.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07       371      2        67    Oman  4829483.0
77 2020-04-08       419      2        72    Oman  4829483.0
78 2020-04-09       457      3       109    Oman  4829483.0
79 2020-04-10       484      3       109    Oman  4829483.0
80 2020-04-11       546      3       109    Oman  4829483.0

[81 rows x 6 columns])
<class 'tuple'> ('Pakistan',          date confirmed deaths recovered   country     pop_2018
0  2020-01-22         0      0         0  Pakistan  212215030.0
1  2020-01-23         0      0         0  Pakistan  212215030.0
2  2020-01-24         0      0         0  Pakistan  212215030.0
3  2020-01-25         0      0         0  Pakistan  212215030.0
4  2020-01-26         0      0         0  Pakistan  212215030.0
..        ...       ...    ...       ...       ...          ...
76 2020-04-07      4035     57       429  Pakistan  212215030.0
77 2020-04-08      4263     61       467  Pakistan  212215030.0
78 2020-04-09      4489     65       572  Pakistan  212215030.0
79 2020-04-10      4695     66       727  Pakistan  212215030.0
80 2020-04-11      5011     86       762  Pakistan  212215030.0

[81 rows x 6 columns])
<class 'tuple'> ('Panama',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0  Panama  4176873.0
1  2020-01-23         0      0         0  Panama  4176873.0
2  2020-01-24         0      0         0  Panama  4176873.0
3  2020-01-25         0      0         0  Panama  4176873.0
4  2020-01-26         0      0         0  Panama  4176873.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07      2100     55        14  Panama  4176873.0
77 2020-04-08      2249     59        16  Panama  4176873.0
78 2020-04-09      2528     63        16  Panama  4176873.0
79 2020-04-10      2752     66        16  Panama  4176873.0
80 2020-04-11      2974     74        17  Panama  4176873.0

[81 rows x 6 columns])
<class 'tuple'> ('Papua New Guinea',          date confirmed deaths recovered           country   pop_2018
0  2020-01-22         0      0         0  Papua New Guinea  8606316.0
1  2020-01-23         0      0         0  Papua New Guinea  8606316.0
2  2020-01-24         0      0         0  Papua New Guinea  8606316.0
3  2020-01-25         0      0         0  Papua New Guinea  8606316.0
4  2020-01-26         0      0         0  Papua New Guinea  8606316.0
..        ...       ...    ...       ...               ...        ...
76 2020-04-07         2      0         0  Papua New Guinea  8606316.0
77 2020-04-08         2      0         0  Papua New Guinea  8606316.0
78 2020-04-09         2      0         0  Papua New Guinea  8606316.0
79 2020-04-10         2      0         0  Papua New Guinea  8606316.0
80 2020-04-11         2      0         0  Papua New Guinea  8606316.0

[81 rows x 6 columns])
<class 'tuple'> ('Paraguay',          date confirmed deaths recovered   country   pop_2018
0  2020-01-22         0      0         0  Paraguay  6956071.0
1  2020-01-23         0      0         0  Paraguay  6956071.0
2  2020-01-24         0      0         0  Paraguay  6956071.0
3  2020-01-25         0      0         0  Paraguay  6956071.0
4  2020-01-26         0      0         0  Paraguay  6956071.0
..        ...       ...    ...       ...       ...        ...
76 2020-04-07       115      5        15  Paraguay  6956071.0
77 2020-04-08       119      5        15  Paraguay  6956071.0
78 2020-04-09       124      5        18  Paraguay  6956071.0
79 2020-04-10       129      6        18  Paraguay  6956071.0
80 2020-04-11       133      6        18  Paraguay  6956071.0

[81 rows x 6 columns])
<class 'tuple'> ('Peru',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0    Peru  31989256.0
1  2020-01-23         0      0         0    Peru  31989256.0
2  2020-01-24         0      0         0    Peru  31989256.0
3  2020-01-25         0      0         0    Peru  31989256.0
4  2020-01-26         0      0         0    Peru  31989256.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07      2954    107      1301    Peru  31989256.0
77 2020-04-08      4342    121      1333    Peru  31989256.0
78 2020-04-09      5256    138      1438    Peru  31989256.0
79 2020-04-10      5897    169      1569    Peru  31989256.0
80 2020-04-11      6848    181      1739    Peru  31989256.0

[81 rows x 6 columns])
<class 'tuple'> ('Philippines',          date confirmed deaths recovered      country     pop_2018
0  2020-01-22         0      0         0  Philippines  106651922.0
1  2020-01-23         0      0         0  Philippines  106651922.0
2  2020-01-24         0      0         0  Philippines  106651922.0
3  2020-01-25         0      0         0  Philippines  106651922.0
4  2020-01-26         0      0         0  Philippines  106651922.0
..        ...       ...    ...       ...          ...          ...
76 2020-04-07      3764    177        84  Philippines  106651922.0
77 2020-04-08      3870    182        96  Philippines  106651922.0
78 2020-04-09      4076    203       124  Philippines  106651922.0
79 2020-04-10      4195    221       140  Philippines  106651922.0
80 2020-04-11      4428    247       157  Philippines  106651922.0

[81 rows x 6 columns])
<class 'tuple'> ('Poland',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0  Poland  37978548.0
1  2020-01-23         0      0         0  Poland  37978548.0
2  2020-01-24         0      0         0  Poland  37978548.0
3  2020-01-25         0      0         0  Poland  37978548.0
4  2020-01-26         0      0         0  Poland  37978548.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07      4848    129       191  Poland  37978548.0
77 2020-04-08      5205    159       222  Poland  37978548.0
78 2020-04-09      5575    174       284  Poland  37978548.0
79 2020-04-10      5955    181       318  Poland  37978548.0
80 2020-04-11      6356    208       375  Poland  37978548.0

[81 rows x 6 columns])
<class 'tuple'> ('Portugal',          date confirmed deaths recovered   country    pop_2018
0  2020-01-22         0      0         0  Portugal  10281762.0
1  2020-01-23         0      0         0  Portugal  10281762.0
2  2020-01-24         0      0         0  Portugal  10281762.0
3  2020-01-25         0      0         0  Portugal  10281762.0
4  2020-01-26         0      0         0  Portugal  10281762.0
..        ...       ...    ...       ...       ...         ...
76 2020-04-07     12442    345       184  Portugal  10281762.0
77 2020-04-08     13141    380       196  Portugal  10281762.0
78 2020-04-09     13956    409       205  Portugal  10281762.0
79 2020-04-10     15472    435       233  Portugal  10281762.0
80 2020-04-11     15987    470       266  Portugal  10281762.0

[81 rows x 6 columns])
<class 'tuple'> ('Qatar',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0   Qatar  2781677.0
1  2020-01-23         0      0         0   Qatar  2781677.0
2  2020-01-24         0      0         0   Qatar  2781677.0
3  2020-01-25         0      0         0   Qatar  2781677.0
4  2020-01-26         0      0         0   Qatar  2781677.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07      2057      6       150   Qatar  2781677.0
77 2020-04-08      2210      6       178   Qatar  2781677.0
78 2020-04-09      2376      6       206   Qatar  2781677.0
79 2020-04-10      2512      6       227   Qatar  2781677.0
80 2020-04-11      2728      6       247   Qatar  2781677.0

[81 rows x 6 columns])
<class 'tuple'> ('Romania',          date confirmed deaths recovered  country    pop_2018
0  2020-01-22         0      0         0  Romania  19473936.0
1  2020-01-23         0      0         0  Romania  19473936.0
2  2020-01-24         0      0         0  Romania  19473936.0
3  2020-01-25         0      0         0  Romania  19473936.0
4  2020-01-26         0      0         0  Romania  19473936.0
..        ...       ...    ...       ...      ...         ...
76 2020-04-07      4417    197       460  Romania  19473936.0
77 2020-04-08      4761    220       528  Romania  19473936.0
78 2020-04-09      5202    248       647  Romania  19473936.0
79 2020-04-10      5467    270       729  Romania  19473936.0
80 2020-04-11      5990    291       758  Romania  19473936.0

[81 rows x 6 columns])
<class 'tuple'> ('Russia',          date confirmed deaths recovered country  pop_2018
0  2020-01-22         0      0         0  Russia       0.0
1  2020-01-23         0      0         0  Russia       0.0
2  2020-01-24         0      0         0  Russia       0.0
3  2020-01-25         0      0         0  Russia       0.0
4  2020-01-26         0      0         0  Russia       0.0
..        ...       ...    ...       ...     ...       ...
76 2020-04-07      7497     58       494  Russia       0.0
77 2020-04-08      8672     63       580  Russia       0.0
78 2020-04-09     10131     76       698  Russia       0.0
79 2020-04-10     11917     94       795  Russia       0.0
80 2020-04-11     13584    106      1045  Russia       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Rwanda',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0  Rwanda  12301939.0
1  2020-01-23         0      0         0  Rwanda  12301939.0
2  2020-01-24         0      0         0  Rwanda  12301939.0
3  2020-01-25         0      0         0  Rwanda  12301939.0
4  2020-01-26         0      0         0  Rwanda  12301939.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07       105      0         7  Rwanda  12301939.0
77 2020-04-08       110      0         7  Rwanda  12301939.0
78 2020-04-09       110      0         7  Rwanda  12301939.0
79 2020-04-10       118      0         7  Rwanda  12301939.0
80 2020-04-11       120      0        18  Rwanda  12301939.0

[81 rows x 6 columns])
<class 'tuple'> ('Saint Kitts and Nevis',          date confirmed deaths recovered                country  pop_2018
0  2020-01-22         0      0         0  Saint Kitts and Nevis       0.0
1  2020-01-23         0      0         0  Saint Kitts and Nevis       0.0
2  2020-01-24         0      0         0  Saint Kitts and Nevis       0.0
3  2020-01-25         0      0         0  Saint Kitts and Nevis       0.0
4  2020-01-26         0      0         0  Saint Kitts and Nevis       0.0
..        ...       ...    ...       ...                    ...       ...
76 2020-04-07        11      0         0  Saint Kitts and Nevis       0.0
77 2020-04-08        11      0         0  Saint Kitts and Nevis       0.0
78 2020-04-09        11      0         0  Saint Kitts and Nevis       0.0
79 2020-04-10        12      0         0  Saint Kitts and Nevis       0.0
80 2020-04-11        12      0         0  Saint Kitts and Nevis       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Saint Lucia',          date confirmed deaths recovered      country  pop_2018
0  2020-01-22         0      0         0  Saint Lucia       0.0
1  2020-01-23         0      0         0  Saint Lucia       0.0
2  2020-01-24         0      0         0  Saint Lucia       0.0
3  2020-01-25         0      0         0  Saint Lucia       0.0
4  2020-01-26         0      0         0  Saint Lucia       0.0

<class 'tuple'> ('Slovenia',          date confirmed deaths recovered   country   pop_2018
0  2020-01-22         0      0         0  Slovenia  2067372.0
1  2020-01-23         0      0         0  Slovenia  2067372.0
2  2020-01-24         0      0         0  Slovenia  2067372.0
3  2020-01-25         0      0         0  Slovenia  2067372.0
4  2020-01-26         0      0         0  Slovenia  2067372.0
..        ...       ...    ...       ...       ...        ...
76 2020-04-07      1059     36       102  Slovenia  2067372.0
77 2020-04-08      1091     40       120  Slovenia  2067372.0
78 2020-04-09      1124     43       128  Slovenia  2067372.0
79 2020-04-10      1160     45       137  Slovenia  2067372.0
80 2020-04-11      1188     50       148  Slovenia  2067372.0

[81 rows x 6 columns])
<class 'tuple'> ('Somalia',          date confirmed deaths recovered  country    pop_2018
0  2020-01-22         0      0         0  Somalia  15008154.0
1  2020-01-23         0      0         0  Somalia  15008154.0
2  2020-01-24         0      0         0  Somalia  15008154.0
3  2020-01-25         0      0         0  Somalia  15008154.0
4  2020-01-26         0      0         0  Somalia  15008154.0
..        ...       ...    ...       ...      ...         ...
76 2020-04-07         8      0         1  Somalia  15008154.0
77 2020-04-08        12      1         1  Somalia  15008154.0
78 2020-04-09        12      1         1  Somalia  15008154.0
79 2020-04-10        21      1         1  Somalia  15008154.0
80 2020-04-11        21      1         1  Somalia  15008154.0

[81 rows x 6 columns])
<class 'tuple'> ('South Africa',          date confirmed deaths recovered       country    pop_2018
0  2020-01-22         0      0         0  South Africa  57779622.0
1  2020-01-23         0      0         0  South Africa  57779622.0
2  2020-01-24         0      0         0  South Africa  57779622.0
3  2020-01-25         0      0         0  South Africa  57779622.0
4  2020-01-26         0      0         0  South Africa  57779622.0
..        ...       ...    ...       ...           ...         ...
76 2020-04-07      1749     13        95  South Africa  57779622.0
77 2020-04-08      1845     18        95  South Africa  57779622.0
78 2020-04-09      1934     18        95  South Africa  57779622.0
79 2020-04-10      2003     24       410  South Africa  57779622.0
80 2020-04-11      2028     25       410  South Africa  57779622.0

[81 rows x 6 columns])
<class 'tuple'> ('South Sudan',          date confirmed deaths recovered      country    pop_2018
0  2020-01-22         0      0         0  South Sudan  10975920.0
1  2020-01-23         0      0         0  South Sudan  10975920.0
2  2020-01-24         0      0         0  South Sudan  10975920.0
3  2020-01-25         0      0         0  South Sudan  10975920.0
4  2020-01-26         0      0         0  South Sudan  10975920.0
..        ...       ...    ...       ...          ...         ...
76 2020-04-07         2      0         0  South Sudan  10975920.0
77 2020-04-08         2      0         0  South Sudan  10975920.0
78 2020-04-09         3      0         0  South Sudan  10975920.0
79 2020-04-10         4      0         0  South Sudan  10975920.0
80 2020-04-11         4      0         0  South Sudan  10975920.0

[81 rows x 6 columns])
<class 'tuple'> ('Spain',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0   Spain  46723749.0
1  2020-01-23         0      0         0   Spain  46723749.0
2  2020-01-24         0      0         0   Spain  46723749.0
3  2020-01-25         0      0         0   Spain  46723749.0
4  2020-01-26         0      0         0   Spain  46723749.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07    141942  14045     43208   Spain  46723749.0
77 2020-04-08    148220  14792     48021   Spain  46723749.0
78 2020-04-09    153222  15447     52165   Spain  46723749.0
79 2020-04-10    158273  16081     55668   Spain  46723749.0
80 2020-04-11    163027  16606     59109   Spain  46723749.0

[81 rows x 6 columns])
<class 'tuple'> ('Sri Lanka',          date confirmed deaths recovered    country    pop_2018
0  2020-01-22         0      0         0  Sri Lanka  21670000.0
1  2020-01-23         0      0         0  Sri Lanka  21670000.0
2  2020-01-24         0      0         0  Sri Lanka  21670000.0
3  2020-01-25         0      0         0  Sri Lanka  21670000.0
4  2020-01-26         0      0         0  Sri Lanka  21670000.0
..        ...       ...    ...       ...        ...         ...
76 2020-04-07       185      6        42  Sri Lanka  21670000.0
77 2020-04-08       189      7        44  Sri Lanka  21670000.0
78 2020-04-09       190      7        49  Sri Lanka  21670000.0
79 2020-04-10       190      7        54  Sri Lanka  21670000.0
80 2020-04-11       198      7        54  Sri Lanka  21670000.0

[81 rows x 6 columns])
<class 'tuple'> ('Sudan',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0   Sudan  41801533.0
1  2020-01-23         0      0         0   Sudan  41801533.0
2  2020-01-24         0      0         0   Sudan  41801533.0
3  2020-01-25         0      0         0   Sudan  41801533.0
4  2020-01-26         0      0         0   Sudan  41801533.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07        14      2         2   Sudan  41801533.0
77 2020-04-08        14      2         2   Sudan  41801533.0
78 2020-04-09        15      2         2   Sudan  41801533.0
79 2020-04-10        17      2         2   Sudan  41801533.0
80 2020-04-11        19      2         2   Sudan  41801533.0

[81 rows x 6 columns])
<class 'tuple'> ('Suriname',          date confirmed deaths recovered   country  pop_2018
0  2020-01-22         0      0         0  Suriname  575991.0
1  2020-01-23         0      0         0  Suriname  575991.0
2  2020-01-24         0      0         0  Suriname  575991.0
3  2020-01-25         0      0         0  Suriname  575991.0
4  2020-01-26         0      0         0  Suriname  575991.0
..        ...       ...    ...       ...       ...       ...
76 2020-04-07        10      1         0  Suriname  575991.0
77 2020-04-08        10      1         3  Suriname  575991.0
78 2020-04-09        10      1         4  Suriname  575991.0
79 2020-04-10        10      1         4  Suriname  575991.0
80 2020-04-11        10      1         4  Suriname  575991.0

[81 rows x 6 columns])
<class 'tuple'> ('Sweden',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0  Sweden  10183175.0
1  2020-01-23         0      0         0  Sweden  10183175.0
2  2020-01-24         0      0         0  Sweden  10183175.0
3  2020-01-25         0      0         0  Sweden  10183175.0
4  2020-01-26         0      0         0  Sweden  10183175.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07      7693    591       205  Sweden  10183175.0
77 2020-04-08      8419    687       205  Sweden  10183175.0
78 2020-04-09      9141    793       205  Sweden  10183175.0
79 2020-04-10      9685    870       381  Sweden  10183175.0
80 2020-04-11     10151    887       381  Sweden  10183175.0

[81 rows x 6 columns])
<class 'tuple'> ('Switzerland',          date confirmed deaths recovered      country   pop_2018
0  2020-01-22         0      0         0  Switzerland  8516543.0
1  2020-01-23         0      0         0  Switzerland  8516543.0
2  2020-01-24         0      0         0  Switzerland  8516543.0
3  2020-01-25         0      0         0  Switzerland  8516543.0
4  2020-01-26         0      0         0  Switzerland  8516543.0
..        ...       ...    ...       ...          ...        ...
76 2020-04-07     22253    821      8704  Switzerland  8516543.0
77 2020-04-08     23280    895      9800  Switzerland  8516543.0
78 2020-04-09     24051    948     10600  Switzerland  8516543.0
79 2020-04-10     24551   1002     11100  Switzerland  8516543.0
80 2020-04-11     25107   1036     12100  Switzerland  8516543.0

[81 rows x 6 columns])
<class 'tuple'> ('Syria',          date confirmed deaths recovered country  pop_2018
0  2020-01-22         0      0         0   Syria       0.0
1  2020-01-23         0      0         0   Syria       0.0
2  2020-01-24         0      0         0   Syria       0.0
3  2020-01-25         0      0         0   Syria       0.0
4  2020-01-26         0      0         0   Syria       0.0
..        ...       ...    ...       ...     ...       ...
76 2020-04-07        19      2         3   Syria       0.0
77 2020-04-08        19      2         4   Syria       0.0
78 2020-04-09        19      2         4   Syria       0.0
79 2020-04-10        19      2         4   Syria       0.0
80 2020-04-11        25      2         5   Syria       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Taiwan*',          date confirmed deaths recovered  country  pop_2018
0  2020-01-22         1      0         0  Taiwan*       0.0
1  2020-01-23         1      0         0  Taiwan*       0.0
2  2020-01-24         3      0         0  Taiwan*       0.0
3  2020-01-25         3      0         0  Taiwan*       0.0
4  2020-01-26         4      0         0  Taiwan*       0.0
..        ...       ...    ...       ...      ...       ...
76 2020-04-07       376      5        57  Taiwan*       0.0
77 2020-04-08       379      5        61  Taiwan*       0.0
78 2020-04-09       380      5        67  Taiwan*       0.0
79 2020-04-10       382      6        91  Taiwan*       0.0
80 2020-04-11       385      6        99  Taiwan*       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Tanzania',          date confirmed deaths recovered   country    pop_2018
0  2020-01-22         0      0         0  Tanzania  56318348.0
1  2020-01-23         0      0         0  Tanzania  56318348.0
2  2020-01-24         0      0         0  Tanzania  56318348.0
3  2020-01-25         0      0         0  Tanzania  56318348.0
4  2020-01-26         0      0         0  Tanzania  56318348.0
..        ...       ...    ...       ...       ...         ...
76 2020-04-07        24      1         5  Tanzania  56318348.0
77 2020-04-08        25      1         5  Tanzania  56318348.0
78 2020-04-09        25      1         5  Tanzania  56318348.0
79 2020-04-10        32      3         5  Tanzania  56318348.0
80 2020-04-11        32      3         5  Tanzania  56318348.0

[81 rows x 6 columns])
<class 'tuple'> ('Thailand',          date confirmed deaths recovered   country    pop_2018
0  2020-01-22         2      0         0  Thailand  69428524.0
1  2020-01-23         3      0         0  Thailand  69428524.0
2  2020-01-24         5      0         0  Thailand  69428524.0
3  2020-01-25         7      0         0  Thailand  69428524.0
4  2020-01-26         8      0         2  Thailand  69428524.0
..        ...       ...    ...       ...       ...         ...
76 2020-04-07      2258     27       888  Thailand  69428524.0
77 2020-04-08      2369     30       888  Thailand  69428524.0
78 2020-04-09      2423     32       940  Thailand  69428524.0
79 2020-04-10      2473     33      1013  Thailand  69428524.0
80 2020-04-11      2518     35      1135  Thailand  69428524.0

[81 rows x 6 columns])
<class 'tuple'> ('Timor-Leste',          date confirmed deaths recovered      country   pop_2018
0  2020-01-22         0      0         0  Timor-Leste  1267972.0
1  2020-01-23         0      0         0  Timor-Leste  1267972.0
2  2020-01-24         0      0         0  Timor-Leste  1267972.0
3  2020-01-25         0      0         0  Timor-Leste  1267972.0
4  2020-01-26         0      0         0  Timor-Leste  1267972.0
..        ...       ...    ...       ...          ...        ...
76 2020-04-07         1      0         0  Timor-Leste  1267972.0
77 2020-04-08         1      0         0  Timor-Leste  1267972.0
78 2020-04-09         1      0         0  Timor-Leste  1267972.0
79 2020-04-10         2      0         1  Timor-Leste  1267972.0
80 2020-04-11         2      0         1  Timor-Leste  1267972.0

[81 rows x 6 columns])
<class 'tuple'> ('Togo',          date confirmed deaths recovered country   pop_2018
0  2020-01-22         0      0         0    Togo  7889094.0
1  2020-01-23         0      0         0    Togo  7889094.0
2  2020-01-24         0      0         0    Togo  7889094.0
3  2020-01-25         0      0         0    Togo  7889094.0
4  2020-01-26         0      0         0    Togo  7889094.0
..        ...       ...    ...       ...     ...        ...
76 2020-04-07        65      3        23    Togo  7889094.0
77 2020-04-08        70      3        23    Togo  7889094.0
78 2020-04-09        73      3        24    Togo  7889094.0
79 2020-04-10        76      3        25    Togo  7889094.0
80 2020-04-11        76      3        25    Togo  7889094.0

[81 rows x 6 columns])
<class 'tuple'> ('Trinidad and Tobago',          date confirmed deaths recovered              country   pop_2018
0  2020-01-22         0      0         0  Trinidad and Tobago  1389858.0
1  2020-01-23         0      0         0  Trinidad and Tobago  1389858.0
2  2020-01-24         0      0         0  Trinidad and Tobago  1389858.0
3  2020-01-25         0      0         0  Trinidad and Tobago  1389858.0
4  2020-01-26         0      0         0  Trinidad and Tobago  1389858.0
..        ...       ...    ...       ...                  ...        ...
76 2020-04-07       107      8         1  Trinidad and Tobago  1389858.0
77 2020-04-08       107      8         1  Trinidad and Tobago  1389858.0
78 2020-04-09       109      8         1  Trinidad and Tobago  1389858.0
79 2020-04-10       109      8         1  Trinidad and Tobago  1389858.0
80 2020-04-11       112      8        12  Trinidad and Tobago  1389858.0

[81 rows x 6 columns])
<class 'tuple'> ('Tunisia',          date confirmed deaths recovered  country    pop_2018
0  2020-01-22         0      0         0  Tunisia  11565204.0
1  2020-01-23         0      0         0  Tunisia  11565204.0
2  2020-01-24         0      0         0  Tunisia  11565204.0
3  2020-01-25         0      0         0  Tunisia  11565204.0
4  2020-01-26         0      0         0  Tunisia  11565204.0
..        ...       ...    ...       ...      ...         ...
76 2020-04-07       623     23        25  Tunisia  11565204.0
77 2020-04-08       628     24        25  Tunisia  11565204.0
78 2020-04-09       643     25        25  Tunisia  11565204.0
79 2020-04-10       671     25        25  Tunisia  11565204.0
80 2020-04-11       685     28        43  Tunisia  11565204.0

[81 rows x 6 columns])
<class 'tuple'> ('Turkey',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0  Turkey  82319724.0
1  2020-01-23         0      0         0  Turkey  82319724.0
2  2020-01-24         0      0         0  Turkey  82319724.0
3  2020-01-25         0      0         0  Turkey  82319724.0
4  2020-01-26         0      0         0  Turkey  82319724.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07     34109    725      1582  Turkey  82319724.0
77 2020-04-08     38226    812      1846  Turkey  82319724.0
78 2020-04-09     42282    908      2142  Turkey  82319724.0
79 2020-04-10     47029   1006      2423  Turkey  82319724.0
80 2020-04-11     52167   1101      2965  Turkey  82319724.0

[81 rows x 6 columns])
<class 'tuple'> ('US',          date confirmed deaths recovered country  pop_2018
0  2020-01-22         1      0         0      US       0.0
1  2020-01-23         1      0         0      US       0.0
2  2020-01-24         2      0         0      US       0.0
3  2020-01-25         2      0         0      US       0.0
4  2020-01-26         5      0         0      US       0.0
..        ...       ...    ...       ...     ...       ...
76 2020-04-07    396223  12722     21763      US       0.0
77 2020-04-08    429052  14695     23559      US       0.0
78 2020-04-09    461437  16478     25410      US       0.0
79 2020-04-10    496535  18586     28790      US       0.0
80 2020-04-11    526396  20463     31270      US       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Uganda',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0  Uganda  42723139.0
1  2020-01-23         0      0         0  Uganda  42723139.0
2  2020-01-24         0      0         0  Uganda  42723139.0
3  2020-01-25         0      0         0  Uganda  42723139.0
4  2020-01-26         0      0         0  Uganda  42723139.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07        52      0         0  Uganda  42723139.0
77 2020-04-08        53      0         0  Uganda  42723139.0
78 2020-04-09        53      0         0  Uganda  42723139.0
79 2020-04-10        53      0         0  Uganda  42723139.0
80 2020-04-11        53      0         4  Uganda  42723139.0

[81 rows x 6 columns])
<class 'tuple'> ('Ukraine',          date confirmed deaths recovered  country    pop_2018
0  2020-01-22         0      0         0  Ukraine  44622516.0
1  2020-01-23         0      0         0  Ukraine  44622516.0
2  2020-01-24         0      0         0  Ukraine  44622516.0
3  2020-01-25         0      0         0  Ukraine  44622516.0
4  2020-01-26         0      0         0  Ukraine  44622516.0
..        ...       ...    ...       ...      ...         ...
76 2020-04-07      1462     45        28  Ukraine  44622516.0
77 2020-04-08      1668     52        35  Ukraine  44622516.0
78 2020-04-09      1892     57        45  Ukraine  44622516.0
79 2020-04-10      2203     69        61  Ukraine  44622516.0
80 2020-04-11      2511     73        79  Ukraine  44622516.0

[81 rows x 6 columns])
<class 'tuple'> ('United Arab Emirates',          date confirmed deaths recovered               country   pop_2018
0  2020-01-22         0      0         0  United Arab Emirates  9630959.0
1  2020-01-23         0      0         0  United Arab Emirates  9630959.0
2  2020-01-24         0      0         0  United Arab Emirates  9630959.0
3  2020-01-25         0      0         0  United Arab Emirates  9630959.0
4  2020-01-26         0      0         0  United Arab Emirates  9630959.0
..        ...       ...    ...       ...                   ...        ...
76 2020-04-07      2359     12       186  United Arab Emirates  9630959.0
77 2020-04-08      2659     12       239  United Arab Emirates  9630959.0
78 2020-04-09      2990     14       268  United Arab Emirates  9630959.0
79 2020-04-10      3360     16       418  United Arab Emirates  9630959.0
80 2020-04-11      3736     20       588  United Arab Emirates  9630959.0

[81 rows x 6 columns])
<class 'tuple'> ('United Kingdom',          date confirmed deaths recovered         country    pop_2018
0  2020-01-22         0      0         0  United Kingdom  66488991.0
1  2020-01-23         0      0         0  United Kingdom  66488991.0
2  2020-01-24         0      0         0  United Kingdom  66488991.0
3  2020-01-25         0      0         0  United Kingdom  66488991.0
4  2020-01-26         0      0         0  United Kingdom  66488991.0
..        ...       ...    ...       ...             ...         ...
76 2020-04-07     55949   6171       325  United Kingdom  66488991.0
77 2020-04-08     61474   7111       345  United Kingdom  66488991.0
78 2020-04-09     65872   7993       359  United Kingdom  66488991.0
79 2020-04-10     74605   8974       588  United Kingdom  66488991.0
80 2020-04-11     79874   9892       622  United Kingdom  66488991.0

[81 rows x 6 columns])
<class 'tuple'> ('Uruguay',          date confirmed deaths recovered  country   pop_2018
0  2020-01-22         0      0         0  Uruguay  3449299.0
1  2020-01-23         0      0         0  Uruguay  3449299.0
2  2020-01-24         0      0         0  Uruguay  3449299.0
3  2020-01-25         0      0         0  Uruguay  3449299.0
4  2020-01-26         0      0         0  Uruguay  3449299.0
..        ...       ...    ...       ...      ...        ...

[81 rows x 6 columns])
<class 'tuple'> ('Vietnam',          date confirmed deaths recovered  country    pop_2018
0  2020-01-22         0      0         0  Vietnam  95540395.0
1  2020-01-23         2      0         0  Vietnam  95540395.0
2  2020-01-24         2      0         0  Vietnam  95540395.0
3  2020-01-25         2      0         0  Vietnam  95540395.0
4  2020-01-26         2      0         0  Vietnam  95540395.0
..        ...       ...    ...       ...      ...         ...
76 2020-04-07       249      0       123  Vietnam  95540395.0
77 2020-04-08       251      0       126  Vietnam  95540395.0
78 2020-04-09       255      0       128  Vietnam  95540395.0
79 2020-04-10       257      0       144  Vietnam  95540395.0
80 2020-04-11       258      0       144  Vietnam  95540395.0

[81 rows x 6 columns])
<class 'tuple'> ('West Bank and Gaza',          date confirmed deaths recovered             country   pop_2018
0  2020-01-22         0      0         0  West Bank and Gaza  4569087.0
1  2020-01-23         0      0         0  West Bank and Gaza  4569087.0
2  2020-01-24         0      0         0  West Bank and Gaza  4569087.0
3  2020-01-25         0      0         0  West Bank and Gaza  4569087.0
4  2020-01-26         0      0         0  West Bank and Gaza  4569087.0
..        ...       ...    ...       ...                 ...        ...
76 2020-04-07       261      1        42  West Bank and Gaza  4569087.0
77 2020-04-08       263      1        44  West Bank and Gaza  4569087.0
78 2020-04-09       263      1        44  West Bank and Gaza  4569087.0
79 2020-04-10       267      2        45  West Bank and Gaza  4569087.0
80 2020-04-11       268      2        57  West Bank and Gaza  4569087.0

[81 rows x 6 columns])
<class 'tuple'> ('Western Sahara',          date confirmed deaths recovered         country  pop_2018
0  2020-01-22         0      0         0  Western Sahara       0.0
1  2020-01-23         0      0         0  Western Sahara       0.0
2  2020-01-24         0      0         0  Western Sahara       0.0
3  2020-01-25         0      0         0  Western Sahara       0.0
4  2020-01-26         0      0         0  Western Sahara       0.0
..        ...       ...    ...       ...             ...       ...
76 2020-04-07         4      0         0  Western Sahara       0.0
77 2020-04-08         4      0         0  Western Sahara       0.0
78 2020-04-09         4      0         0  Western Sahara       0.0
79 2020-04-10         4      0         0  Western Sahara       0.0
80 2020-04-11         4      0         0  Western Sahara       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Yemen',          date confirmed deaths recovered country  pop_2018
0  2020-01-22         0      0         0   Yemen       0.0
1  2020-01-23         0      0         0   Yemen       0.0
2  2020-01-24         0      0         0   Yemen       0.0
3  2020-01-25         0      0         0   Yemen       0.0
4  2020-01-26         0      0         0   Yemen       0.0
..        ...       ...    ...       ...     ...       ...
76 2020-04-07         0      0         0   Yemen       0.0
77 2020-04-08         0      0         0   Yemen       0.0
78 2020-04-09         0      0         0   Yemen       0.0
79 2020-04-10         1      0         0   Yemen       0.0
80 2020-04-11         1      0         0   Yemen       0.0

[81 rows x 6 columns])
<class 'tuple'> ('Zambia',          date confirmed deaths recovered country    pop_2018
0  2020-01-22         0      0         0  Zambia  17351822.0
1  2020-01-23         0      0         0  Zambia  17351822.0
2  2020-01-24         0      0         0  Zambia  17351822.0
3  2020-01-25         0      0         0  Zambia  17351822.0
4  2020-01-26         0      0         0  Zambia  17351822.0
..        ...       ...    ...       ...     ...         ...
76 2020-04-07        39      1         7  Zambia  17351822.0
77 2020-04-08        39      1         7  Zambia  17351822.0
78 2020-04-09        39      1        24  Zambia  17351822.0
79 2020-04-10        40      2        25  Zambia  17351822.0
80 2020-04-11        40      2        28  Zambia  17351822.0

[81 rows x 6 columns])
<class 'tuple'> ('Zimbabwe',          date confirmed deaths recovered   country    pop_2018
0  2020-01-22         0      0         0  Zimbabwe  14439018.0
1  2020-01-23         0      0         0  Zimbabwe  14439018.0
2  2020-01-24         0      0         0  Zimbabwe  14439018.0
3  2020-01-25         0      0         0  Zimbabwe  14439018.0
4  2020-01-26         0      0         0  Zimbabwe  14439018.0
..        ...       ...    ...       ...       ...         ...
76 2020-04-07        11      2         0  Zimbabwe  14439018.0
77 2020-04-08        11      3         0  Zimbabwe  14439018.0
78 2020-04-09        11      3         0  Zimbabwe  14439018.0
79 2020-04-10        13      3         0  Zimbabwe  14439018.0
80 2020-04-11        14      3         0  Zimbabwe  14439018.0

[81 rows x 6 columns])