In [1]:
import pandas as pd
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
%matplotlib qt

## Read the Data
Thanks to https://github.com/pomber/covid19 for preparing the data.

In [2]:
covid_19 = pd.read_json("https://pomber.github.io/covid19/timeseries.json")

## Transform the Data
What we need for better work is a DataFrame with (date, country, confirmed, deaths, recoverd) columns. This is what the json_normalize function do.
And we extract the first date for a country where the confirmed cases has a given value.

In [3]:
covid_df = pd.DataFrame(columns = ['date', 'confirmed', 'deaths', 'recovered', 'country'])
covid_threshold = pd.DataFrame(columns = ['date', 'confirmed', 'deaths', 'recovered', 'country'])
treshold=1000
for country in covid_19.columns:
    # normalize, set country, convert date
    cdf = pd.json_normalize(covid_19[country])
    cdf['country'] = str(country)
    cdf['date'] = pd.to_datetime(cdf['date'])
    covid_df = pd.concat([covid_df, cdf])
        
    # all indices for confirmed greater than and add to covid_threshold
    index_values = cdf[cdf['confirmed'].gt(treshold)].index
    if len(index_values) > 0:
        covid_threshold = pd.concat([covid_threshold, cdf.iloc[[index_values[0]]]])

## Show the Spreading over the world

In [4]:
date_only=covid_threshold[['date','country']].copy()
cnt = date_only.groupby(date_only["date"]).count()
cnt['cum_count'] = cnt['country'].cumsum()

#plot data
fig, ax = plt.subplots(figsize=(15,7))
ax.bar(cnt.index, cnt['cum_count'])

ax.set_title("Number of Countries by First Date Over {} Confirmed Cases".format(treshold))
#set ticks every week
ax.xaxis.set_major_locator(mdates.WeekdayLocator())
#set major ticks format
ax.xaxis.set_major_formatter(mdates.DateFormatter('%b %d'))

In [5]:
def get_country_data(country):
    return covid_df[covid_df['country'] == country]

## Compare Countries

In [21]:
countries=['US', 'New Zealand', 'Germany']
xcoords = pd.date_range(start='2020-01-17', end=dt.datetime.now().strftime('%Y-%m-%d'), freq='W')

fig, axes = plt.subplots(len(countries), 2, figsize=(15,7))
yposition = 0
for c in countries:
    df = pd.DataFrame(get_country_data(c))
    df['diff_confirmed'] = df['confirmed'].diff()
    df['rolling_mean_week'] = df['confirmed'].rolling(7).mean()
    df['rolling_mean_diff_week'] = df['diff_confirmed'].rolling(7).mean()
    showLegend = True if yposition == 0 else False
    
    df[['date','confirmed']].plot(ax=axes[yposition, 0], sharex=True, x='date', legend=showLegend)
    df[['date','rolling_mean_week']].plot(ax=axes[yposition, 0], sharex=True, x='date', legend=showLegend)

    df[['date','diff_confirmed']].plot(ax=axes[yposition, 1], sharex=True, x='date', legend=showLegend)
    df[['date','rolling_mean_diff_week']].plot(ax=axes[yposition, 1], sharex=True, x='date', legend=showLegend)
    
    for xc in xcoords:
        axes[yposition, 0].axvline(xc, color='grey', linestyle=':')
        axes[yposition, 1].axvline(xc, color='grey', linestyle=':')
    
    axes[yposition, 0].set_title(c)
    yposition += 1
    
plt.show()

## Adding Population and Percentual View

In [23]:
# downloaded from http://api.worldbank.org/v2/en/indicator/SP.POP.TOTL?downloadformat=csv
population = pd.read_csv("data/API_SP.POP.TOTL_DS2_en_csv_v2_1308146.csv", skiprows=4, header=0)

In [24]:
def get_population(p, c, y):
    rv = population.loc[population['Country Name']==c][y]
    rv = 0 if rv.empty else float(rv)
    return rv

In [25]:
def get_percent(h,v):
    return (100 * v)/h if h else 0

In [26]:
covid_df['pop_2018'] = covid_df.apply (lambda row: get_population(population, row['country'], '2018'), axis=1)

In [27]:
covid_df.head()

        date confirmed deaths recovered      country    pop_2018
0 2020-01-22         0      0         0  Afghanistan  37172386.0
1 2020-01-23         0      0         0  Afghanistan  37172386.0
2 2020-01-24         0      0         0  Afghanistan  37172386.0
3 2020-01-25         0      0         0  Afghanistan  37172386.0
4 2020-01-26         0      0         0  Afghanistan  37172386.0

In [28]:
covid_df.groupby(['country'], as_index=False, sort=False)[['date']].max()

                country       date
0           Afghanistan 2020-08-13
1               Albania 2020-08-13
2               Algeria 2020-08-13
3               Andorra 2020-08-13
4                Angola 2020-08-13
..                  ...        ...
183  West Bank and Gaza 2020-08-13
184      Western Sahara 2020-08-13
185               Yemen 2020-08-13
186              Zambia 2020-08-13
187            Zimbabwe 2020-08-13

[188 rows x 2 columns]

In [29]:
# select the data for the last existing date in the dataframe
country_df = covid_df.groupby('country', as_index=False).apply(lambda x: x.loc[x.date.argmax()])

### compare confirmed vs. deaths

In [30]:
country_df['percent_deaths'] = country_df.apply (lambda x: get_percent(x.confirmed, x.deaths), axis=1)
## country_df = country_df[country_df['percent_deaths'] > 0.0001]
country_df = country_df.dropna()

In [31]:
country_df_sort = country_df.sort_values(by=['percent_deaths'], ascending=True)

In [32]:
country_df_sort.plot.barh(x='country', y='percent_deaths')

In [33]:
country_df

204,date,confirmed,deaths,recovered,country,pop_2018,percent_deaths
0,2020-08-13,37424,1363,26714,Afghanistan,37172386.0,3.642048
1,2020-08-13,6971,213,3616,Albania,2866376.0,3.055516
2,2020-08-13,37187,1341,26004,Algeria,42228429.0,3.606099
3,2020-08-13,981,53,858,Andorra,77006.0,5.402650
4,2020-08-13,1815,80,577,Angola,30809762.0,4.407713
...,...,...,...,...,...,...,...
183,2020-08-13,15491,106,9186,West Bank and Gaza,4569087.0,0.684268
184,2020-08-13,10,1,8,Western Sahara,0.0,10.000000
185,2020-08-13,1847,528,949,Yemen,0.0,28.586898
186,2020-08-13,8663,246,7401,Zambia,17351822.0,2.839663
187,2020-08-13,4990,128,1927,Zimbabwe,14439018.0,2.565130

In [34]:
country_df.to_csv('data/covid-death-confirmed.csv', index=False)

In [35]:
for g in covid_df.groupby('country'):
    print(type(g), g)

<class 'tuple'> ('Afghanistan',           date confirmed deaths recovered      country    pop_2018
0   2020-01-22         0      0         0  Afghanistan  37172386.0
1   2020-01-23         0      0         0  Afghanistan  37172386.0
2   2020-01-24         0      0         0  Afghanistan  37172386.0
3   2020-01-25         0      0         0  Afghanistan  37172386.0
4   2020-01-26         0      0         0  Afghanistan  37172386.0
..         ...       ...    ...       ...          ...         ...
200 2020-08-09     37054   1312     25960  Afghanistan  37172386.0
201 2020-08-10     37162   1328     26228  Afghanistan  37172386.0
202 2020-08-11     37269   1344     26415  Afghanistan  37172386.0
203 2020-08-12     37345   1354     26694  Afghanistan  37172386.0
204 2020-08-13     37424   1363     26714  Afghanistan  37172386.0

[205 rows x 6 columns])
<class 'tuple'> ('Albania',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Albania  2866376.0
1   2020-01-23         0      0         0  Albania  2866376.0
2   2020-01-24         0      0         0  Albania  2866376.0
3   2020-01-25         0      0         0  Albania  2866376.0
4   2020-01-26         0      0         0  Albania  2866376.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09      6411    199      3342  Albania  2866376.0
201 2020-08-10      6536    200      3379  Albania  2866376.0
202 2020-08-11      6676    205      3480  Albania  2866376.0
203 2020-08-12      6817    208      3552  Albania  2866376.0
204 2020-08-13      6971    213      3616  Albania  2866376.0

[205 rows x 6 columns])
<class 'tuple'> ('Algeria',           date confirmed deaths recovered  country    pop_2018
0   2020-01-22         0      0         0  Algeria  42228429.0
1   2020-01-23         0      0         0  Algeria  42228429.0
2   2020-01-24         0      0         0  Algeria  42228429.0
3   2020-01-25         0      0         0  Algeria  42228429.0
4   2020-01-26         0      0         0  Algeria  42228429.0
..         ...       ...    ...       ...      ...         ...
200 2020-08-09     35160   1302     24506  Algeria  42228429.0
201 2020-08-10     35712   1312     24920  Algeria  42228429.0
202 2020-08-11     36204   1322     25263  Algeria  42228429.0
203 2020-08-12     36699   1333     25627  Algeria  42228429.0
204 2020-08-13     37187   1341     26004  Algeria  42228429.0

[205 rows x 6 columns])
<class 'tuple'> ('Andorra',           date confirmed deaths recovered  country  pop_2018
0   2020-01-22         0      0         0  Andorra   77006.0
1   2020-01-23         0      0         0  Andorra   77006.0
2   2020-01-24         0      0         0  Andorra   77006.0
3   2020-01-25         0      0         0  Andorra   77006.0
4   2020-01-26         0      0         0  Andorra   77006.0
..         ...       ...    ...       ...      ...       ...
200 2020-08-09       955     52       839  Andorra   77006.0
201 2020-08-10       963     52       839  Andorra   77006.0
202 2020-08-11       963     52       839  Andorra   77006.0
203 2020-08-12       977     53       855  Andorra   77006.0
204 2020-08-13       981     53       858  Andorra   77006.0

[205 rows x 6 columns])
<class 'tuple'> ('Angola',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0  Angola  30809762.0
1   2020-01-23         0      0         0  Angola  30809762.0
2   2020-01-24         0      0         0  Angola  30809762.0
3   2020-01-25         0      0         0  Angola  30809762.0
4   2020-01-26         0      0         0  Angola  30809762.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09      1672     75       567  Angola  30809762.0
201 2020-08-10      1679     78       569  Angola  30809762.0
202 2020-08-11      1735     80       575  Angola  30809762.0
203 2020-08-12      1762     80       577  Angola  30809762.0
204 2020-08-13      1815     80       577  Angola  30809762.0

[205 rows x 6 columns])
<class 'tuple'> ('Antigua and Barbuda',           date confirmed deaths recovered              country  pop_2018
0   2020-01-22         0      0         0  Antigua and Barbuda   96286.0
1   2020-01-23         0      0         0  Antigua and Barbuda   96286.0
2   2020-01-24         0      0         0  Antigua and Barbuda   96286.0
3   2020-01-25         0      0         0  Antigua and Barbuda   96286.0
4   2020-01-26         0      0         0  Antigua and Barbuda   96286.0
..         ...       ...    ...       ...                  ...       ...
200 2020-08-09        92      3        76  Antigua and Barbuda   96286.0
201 2020-08-10        92      3        76  Antigua and Barbuda   96286.0
202 2020-08-11        92      3        76  Antigua and Barbuda   96286.0
203 2020-08-12        92      3        76  Antigua and Barbuda   96286.0
204 2020-08-13        92      3        76  Antigua and Barbuda   96286.0

[205 rows x 6 columns])
<class 'tuple'> ('Argentina',           date confirmed deaths recovered    country    pop_2018
0   2020-01-22         0      0         0  Argentina  44494502.0
1   2020-01-23         0      0         0  Argentina  44494502.0
2   2020-01-24         0      0         0  Argentina  44494502.0
3   2020-01-25         0      0         0  Argentina  44494502.0
4   2020-01-26         0      0         0  Argentina  44494502.0
..         ...       ...    ...       ...        ...         ...
200 2020-08-09    246499   4606    108242  Argentina  44494502.0
201 2020-08-10    253868   4764    108242  Argentina  44494502.0
202 2020-08-11    260911   5004    181389  Argentina  44494502.0
203 2020-08-12    268574   5213    187283  Argentina  44494502.0
204 2020-08-13    276072   5362    192434  Argentina  44494502.0

[205 rows x 6 columns])
<class 'tuple'> ('Armenia',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Armenia  2951776.0
1   2020-01-23         0      0         0  Armenia  2951776.0
2   2020-01-24         0      0         0  Armenia  2951776.0
3   2020-01-25         0      0         0  Armenia  2951776.0
4   2020-01-26         0      0         0  Armenia  2951776.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09     40410    791     32520  Armenia  2951776.0
201 2020-08-10     40433    796     32616  Armenia  2951776.0
202 2020-08-11     40593    803     33157  Armenia  2951776.0
203 2020-08-12     40794    806     33492  Armenia  2951776.0
204 2020-08-13     41023    809     33897  Armenia  2951776.0

[205 rows x 6 columns])
<class 'tuple'> ('Australia',           date confirmed deaths recovered    country    pop_2018
0   2020-01-22         0      0         0  Australia  24982688.0
1   2020-01-23         0      0         0  Australia  24982688.0
2   2020-01-24         0      0         0  Australia  24982688.0
3   2020-01-25         0      0         0  Australia  24982688.0
4   2020-01-26         4      0         0  Australia  24982688.0
..         ...       ...    ...       ...        ...         ...
200 2020-08-09     21397    313     11876  Australia  24982688.0
201 2020-08-10     21713    331     12144  Australia  24982688.0
202 2020-08-11     22127    352     12395  Australia  24982688.0
203 2020-08-12     22358    361     12779  Australia  24982688.0
204 2020-08-13     22742    375     13001  Australia  24982688.0

[205 rows x 6 columns])
<class 'tuple'> ('Austria',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Austria  8840521.0
1   2020-01-23         0      0         0  Austria  8840521.0
2   2020-01-24         0      0         0  Austria  8840521.0
3   2020-01-25         0      0         0  Austria  8840521.0
4   2020-01-26         0      0         0  Austria  8840521.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09     22033    721     19923  Austria  8840521.0
201 2020-08-10     22106    723     20010  Austria  8840521.0
202 2020-08-11     22245    723     20123  Austria  8840521.0
203 2020-08-12     22439    724     20268  Austria  8840521.0
204 2020-08-13     22594    725     20346  Austria  8840521.0

[205 rows x 6 columns])
<class 'tuple'> ('Azerbaijan',           date confirmed deaths recovered     country   pop_2018
0   2020-01-22         0      0         0  Azerbaijan  9939771.0
1   2020-01-23         0      0         0  Azerbaijan  9939771.0
2   2020-01-24         0      0         0  Azerbaijan  9939771.0
3   2020-01-25         0      0         0  Azerbaijan  9939771.0
4   2020-01-26         0      0         0  Azerbaijan  9939771.0
..         ...       ...    ...       ...         ...        ...
200 2020-08-09     33568    490     30364  Azerbaijan  9939771.0
201 2020-08-10     33647    492     30642  Azerbaijan  9939771.0
202 2020-08-11     33731    495     30856  Azerbaijan  9939771.0
203 2020-08-12     33824    497     31058  Azerbaijan  9939771.0
204 2020-08-13     33915    500     31269  Azerbaijan  9939771.0

[205 rows x 6 columns])
<class 'tuple'> ('Bahamas',           date confirmed deaths recovered  country  pop_2018
0   2020-01-22         0      0         0  Bahamas       0.0
1   2020-01-23         0      0         0  Bahamas       0.0
2   2020-01-24         0      0         0  Bahamas       0.0
3   2020-01-25         0      0         0  Bahamas       0.0
4   2020-01-26         0      0         0  Bahamas       0.0
..         ...       ...    ...       ...      ...       ...
200 2020-08-09       898     15       104  Bahamas       0.0
201 2020-08-10       945     15       113  Bahamas       0.0
202 2020-08-11       989     15       116  Bahamas       0.0
203 2020-08-12      1036     15       122  Bahamas       0.0
204 2020-08-13      1089     15       138  Bahamas       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Bahrain',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Bahrain  1569439.0
1   2020-01-23         0      0         0  Bahrain  1569439.0
2   2020-01-24         0      0         0  Bahrain  1569439.0
3   2020-01-25         0      0         0  Bahrain  1569439.0
4   2020-01-26         0      0         0  Bahrain  1569439.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09     44011    162     40967  Bahrain  1569439.0
201 2020-08-10     44397    163     41209  Bahrain  1569439.0
202 2020-08-11     44804    165     41504  Bahrain  1569439.0
203 2020-08-12     45264    166     41836  Bahrain  1569439.0
204 2020-08-13     45726    167     42180  Bahrain  1569439.0

[205 rows x 6 columns])
<class 'tuple'> ('Bangladesh',           date confirmed deaths recovered     country     pop_2018
0   2020-01-22         0      0         0  Bangladesh  161356039.0
1   2020-01-23         0      0         0  Bangladesh  161356039.0
2   2020-01-24         0      0         0  Bangladesh  161356039.0
3   2020-01-25         0      0         0  Bangladesh  161356039.0
4   2020-01-26         0      0         0  Bangladesh  161356039.0
..         ...       ...    ...       ...         ...          ...
200 2020-08-09    257600   3399    148370  Bangladesh  161356039.0
201 2020-08-10    260507   3438    150437  Bangladesh  161356039.0
202 2020-08-11    263503   3471    151972  Bangladesh  161356039.0
203 2020-08-12    266498   3513    153089  Bangladesh  161356039.0
204 2020-08-13    269115   3557    154871  Bangladesh  161356039.0

[205 rows x 6 columns])
<class 'tuple'> ('Barbados',           date confirmed deaths recovered   country  pop_2018
0   2020-01-22         0      0         0  Barbados  286641.0
1   2020-01-23         0      0         0  Barbados  286641.0
2   2020-01-24         0      0         0  Barbados  286641.0
3   2020-01-25         0      0         0  Barbados  286641.0
4   2020-01-26         0      0         0  Barbados  286641.0
..         ...       ...    ...       ...       ...       ...
200 2020-08-09       142      7       112  Barbados  286641.0
201 2020-08-10       142      7       112  Barbados  286641.0
202 2020-08-11       143      7       112  Barbados  286641.0
203 2020-08-12       144      7       115  Barbados  286641.0
204 2020-08-13       144      7       118  Barbados  286641.0

[205 rows x 6 columns])
<class 'tuple'> ('Belarus',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Belarus  9483499.0
1   2020-01-23         0      0         0  Belarus  9483499.0
2   2020-01-24         0      0         0  Belarus  9483499.0
3   2020-01-25         0      0         0  Belarus  9483499.0
4   2020-01-26         0      0         0  Belarus  9483499.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09     68850    587     64935  Belarus  9483499.0
201 2020-08-10     68947    589     64991  Belarus  9483499.0
202 2020-08-11     69005    592     65219  Belarus  9483499.0
203 2020-08-12     69102    595     65893  Belarus  9483499.0
204 2020-08-13     69203    599     66178  Belarus  9483499.0

[205 rows x 6 columns])
<class 'tuple'> ('Belgium',           date confirmed deaths recovered  country    pop_2018
0   2020-01-22         0      0         0  Belgium  11427054.0
1   2020-01-23         0      0         0  Belgium  11427054.0
2   2020-01-24         0      0         0  Belgium  11427054.0
3   2020-01-25         0      0         0  Belgium  11427054.0
4   2020-01-26         0      0         0  Belgium  11427054.0
..         ...       ...    ...       ...      ...         ...
200 2020-08-09     74152   9872     17780  Belgium  11427054.0
201 2020-08-10     74620   9879     17792  Belgium  11427054.0
202 2020-08-11     75008   9885     17841  Belgium  11427054.0
203 2020-08-12     75647   9900     17883  Belgium  11427054.0
204 2020-08-13     76191   9916     17913  Belgium  11427054.0

[205 rows x 6 columns])
<class 'tuple'> ('Belize',           date confirmed deaths recovered country  pop_2018
0   2020-01-22         0      0         0  Belize  383071.0
1   2020-01-23         0      0         0  Belize  383071.0
2   2020-01-24         0      0         0  Belize  383071.0
3   2020-01-25         0      0         0  Belize  383071.0
4   2020-01-26         0      0         0  Belize  383071.0
..         ...       ...    ...       ...     ...       ...
200 2020-08-09       153      2        32  Belize  383071.0
201 2020-08-10       177      2        32  Belize  383071.0
202 2020-08-11       177      2        32  Belize  383071.0
203 2020-08-12       210      2        32  Belize  383071.0
204 2020-08-13       296      2        32  Belize  383071.0

[205 rows x 6 columns])
<class 'tuple'> ('Benin',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0   Benin  11485048.0
1   2020-01-23         0      0         0   Benin  11485048.0
2   2020-01-24         0      0         0   Benin  11485048.0
3   2020-01-25         0      0         0   Benin  11485048.0
4   2020-01-26         0      0         0   Benin  11485048.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09      1936     38      1600   Benin  11485048.0
201 2020-08-10      1936     38      1600   Benin  11485048.0
202 2020-08-11      2001     38      1681   Benin  11485048.0
203 2020-08-12      2014     38      1681   Benin  11485048.0
204 2020-08-13      2014     38      1681   Benin  11485048.0

[205 rows x 6 columns])
<class 'tuple'> ('Bhutan',           date confirmed deaths recovered country  pop_2018
0   2020-01-22         0      0         0  Bhutan  754394.0
1   2020-01-23         0      0         0  Bhutan  754394.0
2   2020-01-24         0      0         0  Bhutan  754394.0
3   2020-01-25         0      0         0  Bhutan  754394.0
4   2020-01-26         0      0         0  Bhutan  754394.0
..         ...       ...    ...       ...     ...       ...
200 2020-08-09       110      0        96  Bhutan  754394.0
201 2020-08-10       110      0        96  Bhutan  754394.0
202 2020-08-11       113      0        97  Bhutan  754394.0
203 2020-08-12       113      0        97  Bhutan  754394.0
204 2020-08-13       128      0       100  Bhutan  754394.0

[205 rows x 6 columns])
<class 'tuple'> ('Bolivia',           date confirmed deaths recovered  country    pop_2018
0   2020-01-22         0      0         0  Bolivia  11353142.0
1   2020-01-23         0      0         0  Bolivia  11353142.0
2   2020-01-24         0      0         0  Bolivia  11353142.0
3   2020-01-25         0      0         0  Bolivia  11353142.0
4   2020-01-26         0      0         0  Bolivia  11353142.0
..         ...       ...    ...       ...      ...         ...
200 2020-08-09     89999   3640     29808  Bolivia  11353142.0
201 2020-08-10     91635   3712     30823  Bolivia  11353142.0
202 2020-08-11     93328   3761     31753  Bolivia  11353142.0
203 2020-08-12     95071   3827     32830  Bolivia  11353142.0
204 2020-08-13     96459   3884     33720  Bolivia  11353142.0

[205 rows x 6 columns])
<class 'tuple'> ('Bosnia and Herzegovina',           date confirmed deaths recovered                 country   pop_2018
0   2020-01-22         0      0         0  Bosnia and Herzegovina  3323929.0
1   2020-01-23         0      0         0  Bosnia and Herzegovina  3323929.0
2   2020-01-24         0      0         0  Bosnia and Herzegovina  3323929.0
3   2020-01-25         0      0         0  Bosnia and Herzegovina  3323929.0
4   2020-01-26         0      0         0  Bosnia and Herzegovina  3323929.0
..         ...       ...    ...       ...                     ...        ...
200 2020-08-09     13687    394      7373  Bosnia and Herzegovina  3323929.0
201 2020-08-10     14498    425      8159  Bosnia and Herzegovina  3323929.0
202 2020-08-11     14708    447      8411  Bosnia and Herzegovina  3323929.0
203 2020-08-12     14961    453      8827  Bosnia and Herzegovina  3323929.0
204 2020-08-13     15184    458      9156  Bosnia and Herzegovina  3323929.0

[205 rows x 6 columns])
<class 'tuple'> ('Botswana',           date confirmed deaths recovered   country   pop_2018
0   2020-01-22         0      0         0  Botswana  2254126.0
1   2020-01-23         0      0         0  Botswana  2254126.0
2   2020-01-24         0      0         0  Botswana  2254126.0
3   2020-01-25         0      0         0  Botswana  2254126.0
4   2020-01-26         0      0         0  Botswana  2254126.0
..         ...       ...    ...       ...       ...        ...
200 2020-08-09       804      2        63  Botswana  2254126.0
201 2020-08-10      1066      2        80  Botswana  2254126.0
202 2020-08-11      1066      2        80  Botswana  2254126.0
203 2020-08-12      1066      2        80  Botswana  2254126.0
204 2020-08-13      1214      3       120  Botswana  2254126.0

[205 rows x 6 columns])
<class 'tuple'> ('Brazil',           date confirmed  deaths recovered country     pop_2018
0   2020-01-22         0       0         0  Brazil  209469333.0
1   2020-01-23         0       0         0  Brazil  209469333.0
2   2020-01-24         0       0         0  Brazil  209469333.0
3   2020-01-25         0       0         0  Brazil  209469333.0
4   2020-01-26         0       0         0  Brazil  209469333.0
..         ...       ...     ...       ...     ...          ...
200 2020-08-09   3035422  101049   2356983  Brazil  209469333.0
201 2020-08-10   3057470  101752   2390830  Brazil  209469333.0
202 2020-08-11   3109630  103026   2449338  Brazil  209469333.0
203 2020-08-12   3164785  104201   2506228  Brazil  209469333.0
204 2020-08-13   3224876  105463   2521100  Brazil  209469333.0

[205 rows x 6 columns])
<class 'tuple'> ('Brunei',           date confirmed deaths recovered country  pop_2018
0   2020-01-22         0      0         0  Brunei       0.0
1   2020-01-23         0      0         0  Brunei       0.0
2   2020-01-24         0      0         0  Brunei       0.0

[205 rows x 6 columns])
<class 'tuple'> ("Cote d'Ivoire",           date confirmed deaths recovered        country    pop_2018
0   2020-01-22         0      0         0  Cote d'Ivoire  25069229.0
1   2020-01-23         0      0         0  Cote d'Ivoire  25069229.0
2   2020-01-24         0      0         0  Cote d'Ivoire  25069229.0
3   2020-01-25         0      0         0  Cote d'Ivoire  25069229.0
4   2020-01-26         0      0         0  Cote d'Ivoire  25069229.0
..         ...       ...    ...       ...            ...         ...
200 2020-08-09     16715    105     12926  Cote d'Ivoire  25069229.0
201 2020-08-10     16798    105     13052  Cote d'Ivoire  25069229.0
202 2020-08-11     16847    105     13321  Cote d'Ivoire  25069229.0
203 2020-08-12     16847    105     13321  Cote d'Ivoire  25069229.0
204 2020-08-13     16889    107     13522  Cote d'Ivoire  25069229.0

[205 rows x 6 columns])
<class 'tuple'> ('Croatia',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Croatia  4087843.0
1   2020-01-23         0      0         0  Croatia  4087843.0
2   2020-01-24         0      0         0  Croatia  4087843.0
3   2020-01-25         0      0         0  Croatia  4087843.0
4   2020-01-26         0      0         0  Croatia  4087843.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09      5604    157      4861  Croatia  4087843.0
201 2020-08-10      5649    158      4906  Croatia  4087843.0
202 2020-08-11      5740    160      4962  Croatia  4087843.0
203 2020-08-12      5870    160      5024  Croatia  4087843.0
204 2020-08-13      6050    161      5078  Croatia  4087843.0

[205 rows x 6 columns])
<class 'tuple'> ('Cuba',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0    Cuba  11338138.0
1   2020-01-23         0      0         0    Cuba  11338138.0
2   2020-01-24         0      0         0    Cuba  11338138.0
3   2020-01-25         0      0         0    Cuba  11338138.0
4   2020-01-26         0      0         0    Cuba  11338138.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09      2953     88      2451    Cuba  11338138.0
201 2020-08-10      3046     88      2460    Cuba  11338138.0
202 2020-08-11      3093     88      2472    Cuba  11338138.0
203 2020-08-12      3128     88      2504    Cuba  11338138.0
204 2020-08-13      3174     89      2525    Cuba  11338138.0

[205 rows x 6 columns])
<class 'tuple'> ('Cyprus',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0  Cyprus  1189265.0
1   2020-01-23         0      0         0  Cyprus  1189265.0
2   2020-01-24         0      0         0  Cyprus  1189265.0
3   2020-01-25         0      0         0  Cyprus  1189265.0
4   2020-01-26         0      0         0  Cyprus  1189265.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09      1242     19       870  Cyprus  1189265.0
201 2020-08-10      1252     19       870  Cyprus  1189265.0
202 2020-08-11      1277     20       870  Cyprus  1189265.0
203 2020-08-12      1291     20       870  Cyprus  1189265.0
204 2020-08-13      1305     20       870  Cyprus  1189265.0

[205 rows x 6 columns])
<class 'tuple'> ('Czechia',           date confirmed deaths recovered  country  pop_2018
0   2020-01-22         0      0         0  Czechia       0.0
1   2020-01-23         0      0         0  Czechia       0.0
2   2020-01-24         0      0         0  Czechia       0.0
3   2020-01-25         0      0         0  Czechia       0.0
4   2020-01-26         0      0         0  Czechia       0.0
..         ...       ...    ...       ...      ...       ...
200 2020-08-09     18353    390     12785  Czechia       0.0
201 2020-08-10     18494    390     12983  Czechia       0.0
202 2020-08-11     18783    391     13222  Czechia       0.0
203 2020-08-12     19075    391     13407  Czechia       0.0
204 2020-08-13     19401    391     13574  Czechia       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Denmark',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Denmark  5793636.0
1   2020-01-23         0      0         0  Denmark  5793636.0
2   2020-01-24         0      0         0  Denmark  5793636.0
3   2020-01-25         0      0         0  Denmark  5793636.0
4   2020-01-26         0      0         0  Denmark  5793636.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09     14759    617     13069  Denmark  5793636.0
201 2020-08-10     15135    620     13154  Denmark  5793636.0
202 2020-08-11     15291    621     13227  Denmark  5793636.0
203 2020-08-12     15423    621     13305  Denmark  5793636.0
204 2020-08-13     15590    621     13370  Denmark  5793636.0

[205 rows x 6 columns])
<class 'tuple'> ('Diamond Princess',           date confirmed deaths recovered           country  pop_2018
0   2020-01-22         0      0         0  Diamond Princess       0.0
1   2020-01-23         0      0         0  Diamond Princess       0.0
2   2020-01-24         0      0         0  Diamond Princess       0.0
3   2020-01-25         0      0         0  Diamond Princess       0.0
4   2020-01-26         0      0         0  Diamond Princess       0.0
..         ...       ...    ...       ...               ...       ...
200 2020-08-09       712     13       651  Diamond Princess       0.0
201 2020-08-10       712     13       651  Diamond Princess       0.0
202 2020-08-11       712     13       651  Diamond Princess       0.0
203 2020-08-12       712     13       651  Diamond Princess       0.0
204 2020-08-13       712     13       651  Diamond Princess       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Djibouti',           date confirmed deaths recovered   country  pop_2018
0   2020-01-22         0      0         0  Djibouti  958920.0
1   2020-01-23         0      0         0  Djibouti  958920.0
2   2020-01-24         0      0         0  Djibouti  958920.0
3   2020-01-25         0      0         0  Djibouti  958920.0
4   2020-01-26         0      0         0  Djibouti  958920.0
..         ...       ...    ...       ...       ...       ...
200 2020-08-09      5344     59      5106  Djibouti  958920.0
201 2020-08-10      5347     59      5120  Djibouti  958920.0
202 2020-08-11      5348     59      5133  Djibouti  958920.0
203 2020-08-12      5358     59      5150  Djibouti  958920.0
204 2020-08-13      5358     59      5167  Djibouti  958920.0

[205 rows x 6 columns])
<class 'tuple'> ('Dominica',           date confirmed deaths recovered   country  pop_2018
0   2020-01-22         0      0         0  Dominica   71625.0
1   2020-01-23         0      0         0  Dominica   71625.0
2   2020-01-24         0      0         0  Dominica   71625.0
3   2020-01-25         0      0         0  Dominica   71625.0
4   2020-01-26         0      0         0  Dominica   71625.0
..         ...       ...    ...       ...       ...       ...
200 2020-08-09        18      0        18  Dominica   71625.0
201 2020-08-10        18      0        18  Dominica   71625.0
202 2020-08-11        18      0        18  Dominica   71625.0
203 2020-08-12        18      0        18  Dominica   71625.0
204 2020-08-13        18      0        18  Dominica   71625.0

[205 rows x 6 columns])
<class 'tuple'> ('Dominican Republic',           date confirmed deaths recovered             country    pop_2018
0   2020-01-22         0      0         0  Dominican Republic  10627165.0
1   2020-01-23         0      0         0  Dominican Republic  10627165.0
2   2020-01-24         0      0         0  Dominican Republic  10627165.0
3   2020-01-25         0      0         0  Dominican Republic  10627165.0
4   2020-01-26         0      0         0  Dominican Republic  10627165.0
..         ...       ...    ...       ...                 ...         ...
200 2020-08-09     79732   1309     43744  Dominican Republic  10627165.0
201 2020-08-10     80499   1328     44910  Dominican Republic  10627165.0
202 2020-08-11     81094   1346     45666  Dominican Republic  10627165.0
203 2020-08-12     82224   1371     47095  Dominican Republic  10627165.0
204 2020-08-13     83134   1393     47946  Dominican Republic  10627165.0

[205 rows x 6 columns])
<class 'tuple'> ('Ecuador',           date confirmed deaths recovered  country    pop_2018
0   2020-01-22         0      0         0  Ecuador  17084357.0
1   2020-01-23         0      0         0  Ecuador  17084357.0
2   2020-01-24         0      0         0  Ecuador  17084357.0
3   2020-01-25         0      0         0  Ecuador  17084357.0
4   2020-01-26         0      0         0  Ecuador  17084357.0
..         ...       ...    ...       ...      ...         ...
200 2020-08-09     94459   5922     78552  Ecuador  17084357.0
201 2020-08-10     94701   5932     78608  Ecuador  17084357.0
202 2020-08-11     95563   5951     78610  Ecuador  17084357.0
203 2020-08-12     97110   5984     78887  Ecuador  17084357.0
204 2020-08-13     98343   6010     78957  Ecuador  17084357.0

[205 rows x 6 columns])
<class 'tuple'> ('Egypt',           date confirmed deaths recovered country  pop_2018
0   2020-01-22         0      0         0   Egypt       0.0
1   2020-01-23         0      0         0   Egypt       0.0
2   2020-01-24         0      0         0   Egypt       0.0
3   2020-01-25         0      0         0   Egypt       0.0
4   2020-01-26         0      0         0   Egypt       0.0
..         ...       ...    ...       ...     ...       ...
200 2020-08-09     95492   5009     52678   Egypt       0.0
201 2020-08-10     95666   5035     53779   Egypt       0.0
202 2020-08-11     95834   5059     54888   Egypt       0.0
203 2020-08-12     95963   5085     55901   Egypt       0.0
204 2020-08-13     96108   5107     56890   Egypt       0.0

[205 rows x 6 columns])
<class 'tuple'> ('El Salvador',           date confirmed deaths recovered      country   pop_2018
0   2020-01-22         0      0         0  El Salvador  6420744.0
1   2020-01-23         0      0         0  El Salvador  6420744.0
2   2020-01-24         0      0         0  El Salvador  6420744.0
3   2020-01-25         0      0         0  El Salvador  6420744.0
4   2020-01-26         0      0         0  El Salvador  6420744.0
..         ...       ...    ...       ...          ...        ...
200 2020-08-09     20423    549      9626  El Salvador  6420744.0
201 2020-08-10     20872    563      9720  El Salvador  6420744.0
202 2020-08-11     21269    570      9875  El Salvador  6420744.0
203 2020-08-12     21644    577     10056  El Salvador  6420744.0
204 2020-08-13     21993    584     10254  El Salvador  6420744.0

[205 rows x 6 columns])
<class 'tuple'> ('Equatorial Guinea',           date confirmed deaths recovered            country   pop_2018
0   2020-01-22         0      0         0  Equatorial Guinea  1308974.0
1   2020-01-23         0      0         0  Equatorial Guinea  1308974.0
2   2020-01-24         0      0         0  Equatorial Guinea  1308974.0
3   2020-01-25         0      0         0  Equatorial Guinea  1308974.0
4   2020-01-26         0      0         0  Equatorial Guinea  1308974.0
..         ...       ...    ...       ...                ...        ...
200 2020-08-09      4821     83      2182  Equatorial Guinea  1308974.0
201 2020-08-10      4821     83      2182  Equatorial Guinea  1308974.0
202 2020-08-11      4821     83      2182  Equatorial Guinea  1308974.0
203 2020-08-12      4821     83      2182  Equatorial Guinea  1308974.0
204 2020-08-13      4821     83      2182  Equatorial Guinea  1308974.0

[205 rows x 6 columns])
<class 'tuple'> ('Eritrea',           date confirmed deaths recovered  country  pop_2018
0   2020-01-22         0      0         0  Eritrea       NaN
1   2020-01-23         0      0         0  Eritrea       NaN
2   2020-01-24         0      0         0  Eritrea       NaN
3   2020-01-25         0      0         0  Eritrea       NaN
4   2020-01-26         0      0         0  Eritrea       NaN
..         ...       ...    ...       ...      ...       ...
200 2020-08-09       285      0       245  Eritrea       NaN
201 2020-08-10       285      0       248  Eritrea       NaN
202 2020-08-11       285      0       248  Eritrea       NaN
203 2020-08-12       285      0       248  Eritrea       NaN
204 2020-08-13       285      0       248  Eritrea       NaN

[205 rows x 6 columns])
<class 'tuple'> ('Estonia',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Estonia  1321977.0
1   2020-01-23         0      0         0  Estonia  1321977.0
2   2020-01-24         0      0         0  Estonia  1321977.0
3   2020-01-25         0      0         0  Estonia  1321977.0
4   2020-01-26         0      0         0  Estonia  1321977.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09      2152     63      1961  Estonia  1321977.0
201 2020-08-10      2158     63      1962  Estonia  1321977.0
202 2020-08-11      2167     63      1968  Estonia  1321977.0
203 2020-08-12      2174     63      1975  Estonia  1321977.0
204 2020-08-13      2174     63      1975  Estonia  1321977.0

[205 rows x 6 columns])
<class 'tuple'> ('Eswatini',           date confirmed deaths recovered   country   pop_2018
0   2020-01-22         0      0         0  Eswatini  1136191.0
1   2020-01-23         0      0         0  Eswatini  1136191.0
2   2020-01-24         0      0         0  Eswatini  1136191.0
3   2020-01-25         0      0         0  Eswatini  1136191.0
4   2020-01-26         0      0         0  Eswatini  1136191.0
..         ...       ...    ...       ...       ...        ...
200 2020-08-09      3236     58      1607  Eswatini  1136191.0
201 2020-08-10      3309     61      1634  Eswatini  1136191.0
202 2020-08-11      3410     63      1720  Eswatini  1136191.0
203 2020-08-12      3525     63      1910  Eswatini  1136191.0
204 2020-08-13      3599     65      1991  Eswatini  1136191.0

[205 rows x 6 columns])
<class 'tuple'> ('Ethiopia',           date confirmed deaths recovered   country     pop_2018
0   2020-01-22         0      0         0  Ethiopia  109224559.0
1   2020-01-23         0      0         0  Ethiopia  109224559.0
2   2020-01-24         0      0         0  Ethiopia  109224559.0
3   2020-01-25         0      0         0  Ethiopia  109224559.0
4   2020-01-26         0      0         0  Ethiopia  109224559.0
..         ...       ...    ...       ...       ...          ...
200 2020-08-09     22818    407     10206  Ethiopia  109224559.0
201 2020-08-10     23591    420     10411  Ethiopia  109224559.0
202 2020-08-11     24175    440     10696  Ethiopia  109224559.0
203 2020-08-12     25118    463     11034  Ethiopia  109224559.0
204 2020-08-13     26204    479     11428  Ethiopia  109224559.0

[205 rows x 6 columns])
<class 'tuple'> ('Fiji',           date confirmed deaths recovered country  pop_2018
0   2020-01-22         0      0         0    Fiji  883483.0
1   2020-01-23         0      0         0    Fiji  883483.0
2   2020-01-24         0      0         0    Fiji  883483.0
3   2020-01-25         0      0         0    Fiji  883483.0
4   2020-01-26         0      0         0    Fiji  883483.0
..         ...       ...    ...       ...     ...       ...
200 2020-08-09        27      1        18    Fiji  883483.0
201 2020-08-10        27      1        18    Fiji  883483.0
202 2020-08-11        27      1        18    Fiji  883483.0
203 2020-08-12        27      1        18    Fiji  883483.0
204 2020-08-13        28      1        20    Fiji  883483.0

[205 rows x 6 columns])
<class 'tuple'> ('Finland',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Finland  5515525.0
1   2020-01-23         0      0         0  Finland  5515525.0
2   2020-01-24         0      0         0  Finland  5515525.0
3   2020-01-25         0      0         0  Finland  5515525.0
4   2020-01-26         0      0         0  Finland  5515525.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09      7584    331      6980  Finland  5515525.0
201 2020-08-10      7601    333      6980  Finland  5515525.0
202 2020-08-11      7623    333      6980  Finland  5515525.0
203 2020-08-12      7642    333      7050  Finland  5515525.0
204 2020-08-13      7683    333      7050  Finland  5515525.0

[205 rows x 6 columns])
<class 'tuple'> ('France',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0  France  66965912.0
1   2020-01-23         0      0         0  France  66965912.0
2   2020-01-24         2      0         0  France  66965912.0
3   2020-01-25         3      0         0  France  66965912.0
4   2020-01-26         3      0         0  France  66965912.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09    235237  30327     82971  France  66965912.0
201 2020-08-10    239349  30327     82971  France  66965912.0
202 2020-08-11    239355  30328     82971  France  66965912.0
203 2020-08-12    244088  30375     83609  France  66965912.0
204 2020-08-13    244096  30392     83612  France  66965912.0

[205 rows x 6 columns])
<class 'tuple'> ('Gabon',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0   Gabon  2119275.0
1   2020-01-23         0      0         0   Gabon  2119275.0
2   2020-01-24         0      0         0   Gabon  2119275.0
3   2020-01-25         0      0         0   Gabon  2119275.0
4   2020-01-26         0      0         0   Gabon  2119275.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09      7923     51      5704   Gabon  2119275.0
201 2020-08-10      8006     51      5823   Gabon  2119275.0
202 2020-08-11      8006     51      5823   Gabon  2119275.0
203 2020-08-12      8077     51      5920   Gabon  2119275.0
204 2020-08-13      8077     51      5920   Gabon  2119275.0

[205 rows x 6 columns])
<class 'tuple'> ('Gambia',           date confirmed deaths recovered country  pop_2018
0   2020-01-22         0      0         0  Gambia       0.0
1   2020-01-23         0      0         0  Gambia       0.0
2   2020-01-24         0      0         0  Gambia       0.0
3   2020-01-25         0      0         0  Gambia       0.0
4   2020-01-26         0      0         0  Gambia       0.0
..         ...       ...    ...       ...     ...       ...
200 2020-08-09      1235     23       221  Gambia       0.0
201 2020-08-10      1235     23       221  Gambia       0.0
202 2020-08-11      1346     32       227  Gambia       0.0
203 2020-08-12      1477     33       247  Gambia       0.0
204 2020-08-13      1556     43       267  Gambia       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Georgia',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Georgia  3726549.0
1   2020-01-23         0      0         0  Georgia  3726549.0
2   2020-01-24         0      0         0  Georgia  3726549.0
3   2020-01-25         0      0         0  Georgia  3726549.0
4   2020-01-26         0      0         0  Georgia  3726549.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09      1225     17      1000  Georgia  3726549.0
201 2020-08-10      1250     17      1010  Georgia  3726549.0
202 2020-08-11      1264     17      1054  Georgia  3726549.0
203 2020-08-12      1278     17      1058  Georgia  3726549.0
204 2020-08-13      1283     17      1068  Georgia  3726549.0

[205 rows x 6 columns])
<class 'tuple'> ('Germany',           date confirmed deaths recovered  country    pop_2018
0   2020-01-22         0      0         0  Germany  82905782.0
1   2020-01-23         0      0         0  Germany  82905782.0
2   2020-01-24         0      0         0  Germany  82905782.0
3   2020-01-25         0      0         0  Germany  82905782.0

[205 rows x 6 columns])
<class 'tuple'> ('Ireland',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Ireland  4867316.0
1   2020-01-23         0      0         0  Ireland  4867316.0
2   2020-01-24         0      0         0  Ireland  4867316.0
3   2020-01-25         0      0         0  Ireland  4867316.0
4   2020-01-26         0      0         0  Ireland  4867316.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09     26712   1772     23364  Ireland  4867316.0
201 2020-08-10     26768   1772     23364  Ireland  4867316.0
202 2020-08-11     26801   1773     23364  Ireland  4867316.0
203 2020-08-12     26838   1774     23364  Ireland  4867316.0
204 2020-08-13     26929   1774     23364  Ireland  4867316.0

[205 rows x 6 columns])
<class 'tuple'> ('Israel',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0  Israel  8882800.0
1   2020-01-23         0      0         0  Israel  8882800.0
2   2020-01-24         0      0         0  Israel  8882800.0
3   2020-01-25         0      0         0  Israel  8882800.0
4   2020-01-26         0      0         0  Israel  8882800.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09     83002    600     57533  Israel  8882800.0
201 2020-08-10     84722    613     58998  Israel  8882800.0
202 2020-08-11     86593    622     60080  Israel  8882800.0
203 2020-08-12     88151    639     62109  Israel  8882800.0
204 2020-08-13     89822    651     64746  Israel  8882800.0

[205 rows x 6 columns])
<class 'tuple'> ('Italy',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0   Italy  60421760.0
1   2020-01-23         0      0         0   Italy  60421760.0
2   2020-01-24         0      0         0   Italy  60421760.0
3   2020-01-25         0      0         0   Italy  60421760.0
4   2020-01-26         0      0         0   Italy  60421760.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09    250566  35205    202098   Italy  60421760.0
201 2020-08-10    250825  35209    202248   Italy  60421760.0
202 2020-08-11    251237  35215    202461   Italy  60421760.0
203 2020-08-12    251713  35225    202697   Italy  60421760.0
204 2020-08-13    252235  35231    202923   Italy  60421760.0

[205 rows x 6 columns])
<class 'tuple'> ('Jamaica',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Jamaica  2934855.0
1   2020-01-23         0      0         0  Jamaica  2934855.0
2   2020-01-24         0      0         0  Jamaica  2934855.0
3   2020-01-25         0      0         0  Jamaica  2934855.0
4   2020-01-26         0      0         0  Jamaica  2934855.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09      1023     14       745  Jamaica  2934855.0
201 2020-08-10      1031     14       745  Jamaica  2934855.0
202 2020-08-11      1047     14       753  Jamaica  2934855.0
203 2020-08-12      1065     14       753  Jamaica  2934855.0
204 2020-08-13      1071     14       754  Jamaica  2934855.0

[205 rows x 6 columns])
<class 'tuple'> ('Japan',           date confirmed deaths recovered country     pop_2018
0   2020-01-22         2      0         0   Japan  126529100.0
1   2020-01-23         2      0         0   Japan  126529100.0
2   2020-01-24         2      0         0   Japan  126529100.0
3   2020-01-25         2      0         0   Japan  126529100.0
4   2020-01-26         4      0         1   Japan  126529100.0
..         ...       ...    ...       ...     ...          ...
200 2020-08-09     48782   1047     32867   Japan  126529100.0
201 2020-08-10     49617   1052     33450   Japan  126529100.0
202 2020-08-11     50302   1058     34136   Japan  126529100.0
203 2020-08-12     51288   1066     34969   Japan  126529100.0
204 2020-08-13     52471   1073     36191   Japan  126529100.0

[205 rows x 6 columns])
<class 'tuple'> ('Jordan',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0  Jordan  9956011.0
1   2020-01-23         0      0         0  Jordan  9956011.0
2   2020-01-24         0      0         0  Jordan  9956011.0
3   2020-01-25         0      0         0  Jordan  9956011.0
4   2020-01-26         0      0         0  Jordan  9956011.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09      1252     11      1187  Jordan  9956011.0
201 2020-08-10      1268     11      1187  Jordan  9956011.0
202 2020-08-11      1283     11      1189  Jordan  9956011.0
203 2020-08-12      1303     11      1215  Jordan  9956011.0
204 2020-08-13      1320     11      1222  Jordan  9956011.0

[205 rows x 6 columns])
<class 'tuple'> ('Kazakhstan',           date confirmed deaths recovered     country    pop_2018
0   2020-01-22         0      0         0  Kazakhstan  18276498.5
1   2020-01-23         0      0         0  Kazakhstan  18276498.5
2   2020-01-24         0      0         0  Kazakhstan  18276498.5
3   2020-01-25         0      0         0  Kazakhstan  18276498.5
4   2020-01-26         0      0         0  Kazakhstan  18276498.5
..         ...       ...    ...       ...         ...         ...
200 2020-08-09     99442   1058     72523  Kazakhstan  18276498.5
201 2020-08-10    100164   1058     73702  Kazakhstan  18276498.5
202 2020-08-11    100855   1269     74677  Kazakhstan  18276498.5
203 2020-08-12    101372   1269     76756  Kazakhstan  18276498.5
204 2020-08-13    101848   1269     76756  Kazakhstan  18276498.5

[205 rows x 6 columns])
<class 'tuple'> ('Kenya',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0   Kenya  51393010.0
1   2020-01-23         0      0         0   Kenya  51393010.0
2   2020-01-24         0      0         0   Kenya  51393010.0
3   2020-01-25         0      0         0   Kenya  51393010.0
4   2020-01-26         0      0         0   Kenya  51393010.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09     26436    420     12961   Kenya  51393010.0
201 2020-08-10     26928    423     13495   Kenya  51393010.0
202 2020-08-11     27425    438     13867   Kenya  51393010.0
203 2020-08-12     28104    456     14610   Kenya  51393010.0
204 2020-08-13     28754    460     15100   Kenya  51393010.0

[205 rows x 6 columns])
<class 'tuple'> ('Korea, South',           date confirmed deaths recovered       country  pop_2018
0   2020-01-22         1      0         0  Korea, South       0.0
1   2020-01-23         1      0         0  Korea, South       0.0
2   2020-01-24         2      0         0  Korea, South       0.0
3   2020-01-25         2      0         0  Korea, South       0.0
4   2020-01-26         3      0         0  Korea, South       0.0
..         ...       ...    ...       ...           ...       ...
200 2020-08-09     14626    305     13658  Korea, South       0.0
201 2020-08-10     14660    305     13729  Korea, South       0.0
202 2020-08-11     14714    305     13786  Korea, South       0.0
203 2020-08-12     14770    305     13817  Korea, South       0.0
204 2020-08-13     14873    305     13863  Korea, South       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Kosovo',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0  Kosovo  1797085.0
1   2020-01-23         0      0         0  Kosovo  1797085.0
2   2020-01-24         0      0         0  Kosovo  1797085.0
3   2020-01-25         0      0         0  Kosovo  1797085.0
4   2020-01-26         0      0         0  Kosovo  1797085.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09      9869    303      5480  Kosovo  1797085.0
201 2020-08-10     10419    341      6058  Kosovo  1797085.0
202 2020-08-11     10419    341      6058  Kosovo  1797085.0
203 2020-08-12     10419    341      6058  Kosovo  1797085.0
204 2020-08-13     10795    365      6411  Kosovo  1797085.0

[205 rows x 6 columns])
<class 'tuple'> ('Kuwait',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0  Kuwait  4137312.0
1   2020-01-23         0      0         0  Kuwait  4137312.0
2   2020-01-24         0      0         0  Kuwait  4137312.0
3   2020-01-25         0      0         0  Kuwait  4137312.0
4   2020-01-26         0      0         0  Kuwait  4137312.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09     71713    478     63519  Kuwait  4137312.0
201 2020-08-10     72400    482     64028  Kuwait  4137312.0
202 2020-08-11     73068    486     64759  Kuwait  4137312.0
203 2020-08-12     73785    489     65451  Kuwait  4137312.0
204 2020-08-13     74486    489     66099  Kuwait  4137312.0

[205 rows x 6 columns])
<class 'tuple'> ('Kyrgyzstan',           date confirmed deaths recovered     country  pop_2018
0   2020-01-22         0      0         0  Kyrgyzstan       0.0
1   2020-01-23         0      0         0  Kyrgyzstan       0.0
2   2020-01-24         0      0         0  Kyrgyzstan       0.0
3   2020-01-25         0      0         0  Kyrgyzstan       0.0
4   2020-01-26         0      0         0  Kyrgyzstan       0.0
..         ...       ...    ...       ...         ...       ...
200 2020-08-09     39919   1468     31822  Kyrgyzstan       0.0
201 2020-08-10     40085   1474     32126  Kyrgyzstan       0.0
202 2020-08-11     40455   1478     32734  Kyrgyzstan       0.0
203 2020-08-12     40759   1484     32997  Kyrgyzstan       0.0
204 2020-08-13     41069   1487     33288  Kyrgyzstan       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Laos',           date confirmed deaths recovered country  pop_2018
0   2020-01-22         0      0         0    Laos       0.0
1   2020-01-23         0      0         0    Laos       0.0
2   2020-01-24         0      0         0    Laos       0.0
3   2020-01-25         0      0         0    Laos       0.0
4   2020-01-26         0      0         0    Laos       0.0
..         ...       ...    ...       ...     ...       ...
200 2020-08-09        20      0        19    Laos       0.0
201 2020-08-10        20      0        19    Laos       0.0
202 2020-08-11        20      0        19    Laos       0.0
203 2020-08-12        20      0        19    Laos       0.0
204 2020-08-13        20      0        19    Laos       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Latvia',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0  Latvia  1927174.0
1   2020-01-23         0      0         0  Latvia  1927174.0
2   2020-01-24         0      0         0  Latvia  1927174.0
3   2020-01-25         0      0         0  Latvia  1927174.0
4   2020-01-26         0      0         0  Latvia  1927174.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09      1290     32      1070  Latvia  1927174.0
201 2020-08-10      1290     32      1070  Latvia  1927174.0
202 2020-08-11      1293     32      1078  Latvia  1927174.0
203 2020-08-12      1303     32      1078  Latvia  1927174.0
204 2020-08-13      1307     32      1078  Latvia  1927174.0

[205 rows x 6 columns])
<class 'tuple'> ('Lebanon',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Lebanon  6848925.0
1   2020-01-23         0      0         0  Lebanon  6848925.0
2   2020-01-24         0      0         0  Lebanon  6848925.0
3   2020-01-25         0      0         0  Lebanon  6848925.0
4   2020-01-26         0      0         0  Lebanon  6848925.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09      6517     78      2127  Lebanon  6848925.0
201 2020-08-10      6812     80      2290  Lebanon  6848925.0
202 2020-08-11      7121     87      2377  Lebanon  6848925.0
203 2020-08-12      7413     89      2407  Lebanon  6848925.0
204 2020-08-13      7711     92      2496  Lebanon  6848925.0

[205 rows x 6 columns])
<class 'tuple'> ('Lesotho',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Lesotho  2108132.0
1   2020-01-23         0      0         0  Lesotho  2108132.0
2   2020-01-24         0      0         0  Lesotho  2108132.0
3   2020-01-25         0      0         0  Lesotho  2108132.0
4   2020-01-26         0      0         0  Lesotho  2108132.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09       742     23       175  Lesotho  2108132.0
201 2020-08-10       781     24       175  Lesotho  2108132.0
202 2020-08-11       781     24       175  Lesotho  2108132.0
203 2020-08-12       798     24       175  Lesotho  2108132.0
204 2020-08-13       884     25       271  Lesotho  2108132.0

[205 rows x 6 columns])
<class 'tuple'> ('Liberia',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Liberia  4818977.0
1   2020-01-23         0      0         0  Liberia  4818977.0
2   2020-01-24         0      0         0  Liberia  4818977.0
3   2020-01-25         0      0         0  Liberia  4818977.0
4   2020-01-26         0      0         0  Liberia  4818977.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09      1237     79       723  Liberia  4818977.0
201 2020-08-10      1240     79       725  Liberia  4818977.0
202 2020-08-11      1250     81       736  Liberia  4818977.0
203 2020-08-12      1252     82       738  Liberia  4818977.0
204 2020-08-13      1252     82       738  Liberia  4818977.0

[205 rows x 6 columns])
<class 'tuple'> ('Libya',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0   Libya  6678567.0
1   2020-01-23         0      0         0   Libya  6678567.0
2   2020-01-24         0      0         0   Libya  6678567.0
3   2020-01-25         0      0         0   Libya  6678567.0
4   2020-01-26         0      0         0   Libya  6678567.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09      5451    119       701   Libya  6678567.0
201 2020-08-10      5929    125       724   Libya  6678567.0
202 2020-08-11      6302    132       740   Libya  6678567.0
203 2020-08-12      6611    132       778   Libya  6678567.0
204 2020-08-13      7050    135       816   Libya  6678567.0

[205 rows x 6 columns])
<class 'tuple'> ('Liechtenstein',           date confirmed deaths recovered        country  pop_2018
0   2020-01-22         0      0         0  Liechtenstein   37910.0
1   2020-01-23         0      0         0  Liechtenstein   37910.0
2   2020-01-24         0      0         0  Liechtenstein   37910.0
3   2020-01-25         0      0         0  Liechtenstein   37910.0
4   2020-01-26         0      0         0  Liechtenstein   37910.0
..         ...       ...    ...       ...            ...       ...
200 2020-08-09        89      1        85  Liechtenstein   37910.0
201 2020-08-10        89      1        85  Liechtenstein   37910.0
202 2020-08-11        89      1        87  Liechtenstein   37910.0
203 2020-08-12        90      1        87  Liechtenstein   37910.0
204 2020-08-13        90      1        87  Liechtenstein   37910.0

[205 rows x 6 columns])
<class 'tuple'> ('Lithuania',           date confirmed deaths recovered    country   pop_2018
0   2020-01-22         0      0         0  Lithuania  2801543.0
1   2020-01-23         0      0         0  Lithuania  2801543.0
2   2020-01-24         0      0         0  Lithuania  2801543.0
3   2020-01-25         0      0         0  Lithuania  2801543.0
4   2020-01-26         0      0         0  Lithuania  2801543.0
..         ...       ...    ...       ...        ...        ...
200 2020-08-09      2252     81      1670  Lithuania  2801543.0
201 2020-08-10      2265     81      1670  Lithuania  2801543.0
202 2020-08-11      2283     81      1679  Lithuania  2801543.0
203 2020-08-12      2309     81      1683  Lithuania  2801543.0
204 2020-08-13      2330     81      1689  Lithuania  2801543.0

[205 rows x 6 columns])
<class 'tuple'> ('Luxembourg',           date confirmed deaths recovered     country  pop_2018
0   2020-01-22         0      0         0  Luxembourg  607950.0
1   2020-01-23         0      0         0  Luxembourg  607950.0
2   2020-01-24         0      0         0  Luxembourg  607950.0
3   2020-01-25         0      0         0  Luxembourg  607950.0
4   2020-01-26         0      0         0  Luxembourg  607950.0
..         ...       ...    ...       ...         ...       ...
200 2020-08-09      7205    120      5848  Luxembourg  607950.0
201 2020-08-10      7216    121      6170  Luxembourg  607950.0
202 2020-08-11      7242    122      6222  Luxembourg  607950.0
203 2020-08-12      7300    122      6262  Luxembourg  607950.0
204 2020-08-13      7368    122      6414  Luxembourg  607950.0

[205 rows x 6 columns])
<class 'tuple'> ('MS Zaandam',           date confirmed deaths recovered     country  pop_2018
0   2020-01-22         0      0         0  MS Zaandam       0.0
1   2020-01-23         0      0         0  MS Zaandam       0.0
2   2020-01-24         0      0         0  MS Zaandam       0.0
3   2020-01-25         0      0         0  MS Zaandam       0.0
4   2020-01-26         0      0         0  MS Zaandam       0.0
..         ...       ...    ...       ...         ...       ...
200 2020-08-09         9      2         0  MS Zaandam       0.0
201 2020-08-10         9      2         0  MS Zaandam       0.0
202 2020-08-11         9      2         0  MS Zaandam       0.0
203 2020-08-12         9      2         0  MS Zaandam       0.0
204 2020-08-13         9      2         0  MS Zaandam       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Madagascar',           date confirmed deaths recovered     country    pop_2018
0   2020-01-22         0      0         0  Madagascar  26262368.0
1   2020-01-23         0      0         0  Madagascar  26262368.0
2   2020-01-24         0      0         0  Madagascar  26262368.0
3   2020-01-25         0      0         0  Madagascar  26262368.0
4   2020-01-26         0      0         0  Madagascar  26262368.0
..         ...       ...    ...       ...         ...         ...
200 2020-08-09     13086    148     10816  Madagascar  26262368.0
201 2020-08-10     13202    151     11011  Madagascar  26262368.0
202 2020-08-11     13317    152     11276  Madagascar  26262368.0
203 2020-08-12     13397    156     11529  Madagascar  26262368.0
204 2020-08-13     13522    162     11780  Madagascar  26262368.0

[205 rows x 6 columns])
<class 'tuple'> ('Malawi',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0  Malawi  18143315.0
1   2020-01-23         0      0         0  Malawi  18143315.0
2   2020-01-24         0      0         0  Malawi  18143315.0
3   2020-01-25         0      0         0  Malawi  18143315.0
4   2020-01-26         0      0         0  Malawi  18143315.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09      4658    146      2375  Malawi  18143315.0
201 2020-08-10      4674    146      2430  Malawi  18143315.0
202 2020-08-11      4714    152      2477  Malawi  18143315.0
203 2020-08-12      4752    152      2529  Malawi  18143315.0
204 2020-08-13      4912    153      2550  Malawi  18143315.0

[205 rows x 6 columns])
<class 'tuple'> ('Malaysia',           date confirmed deaths recovered   country    pop_2018
0   2020-01-22         0      0         0  Malaysia  31528585.0
1   2020-01-23         0      0         0  Malaysia  31528585.0
2   2020-01-24         0      0         0  Malaysia  31528585.0
3   2020-01-25         3      0         0  Malaysia  31528585.0
4   2020-01-26         4      0         0  Malaysia  31528585.0
..         ...       ...    ...       ...       ...         ...
200 2020-08-09      9083    125      8784  Malaysia  31528585.0
201 2020-08-10      9094    125      8803  Malaysia  31528585.0

[205 rows x 6 columns])
<class 'tuple'> ('North Macedonia',           date confirmed deaths recovered          country   pop_2018
0   2020-01-22         0      0         0  North Macedonia  2082958.0
1   2020-01-23         0      0         0  North Macedonia  2082958.0
2   2020-01-24         0      0         0  North Macedonia  2082958.0
3   2020-01-25         0      0         0  North Macedonia  2082958.0
4   2020-01-26         0      0         0  North Macedonia  2082958.0
..         ...       ...    ...       ...              ...        ...
200 2020-08-09     11839    527      7664  North Macedonia  2082958.0
201 2020-08-10     11942    528      8087  North Macedonia  2082958.0
202 2020-08-11     12083    529      8248  North Macedonia  2082958.0
203 2020-08-12     12217    530      8487  North Macedonia  2082958.0
204 2020-08-13     12357    532      8662  North Macedonia  2082958.0

[205 rows x 6 columns])
<class 'tuple'> ('Norway',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0  Norway  5311916.0
1   2020-01-23         0      0         0  Norway  5311916.0
2   2020-01-24         0      0         0  Norway  5311916.0
3   2020-01-25         0      0         0  Norway  5311916.0
4   2020-01-26         0      0         0  Norway  5311916.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09      9638    256      8857  Norway  5311916.0
201 2020-08-10      9684    256      8857  Norway  5311916.0
202 2020-08-11      9751    256      8857  Norway  5311916.0
203 2020-08-12      9783    256      8857  Norway  5311916.0
204 2020-08-13      9851    257      8857  Norway  5311916.0

[205 rows x 6 columns])
<class 'tuple'> ('Oman',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0    Oman  4829483.0
1   2020-01-23         0      0         0    Oman  4829483.0
2   2020-01-24         0      0         0    Oman  4829483.0
3   2020-01-25         0      0         0    Oman  4829483.0
4   2020-01-26         0      0         0    Oman  4829483.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09     81580    513     74691    Oman  4829483.0
201 2020-08-10     81787    521     76124    Oman  4829483.0
202 2020-08-11     82050    533     76720    Oman  4829483.0
203 2020-08-12     82299    539     77072    Oman  4829483.0
204 2020-08-13     82531    551     77278    Oman  4829483.0

[205 rows x 6 columns])
<class 'tuple'> ('Pakistan',           date confirmed deaths recovered   country     pop_2018
0   2020-01-22         0      0         0  Pakistan  212215030.0
1   2020-01-23         0      0         0  Pakistan  212215030.0
2   2020-01-24         0      0         0  Pakistan  212215030.0
3   2020-01-25         0      0         0  Pakistan  212215030.0
4   2020-01-26         0      0         0  Pakistan  212215030.0
..         ...       ...    ...       ...       ...          ...
200 2020-08-09    284121   6082    260248  Pakistan  212215030.0
201 2020-08-10    284660   6097    260764  Pakistan  212215030.0
202 2020-08-11    285191   6112    261246  Pakistan  212215030.0
203 2020-08-12    285921   6129    263193  Pakistan  212215030.0
204 2020-08-13    286674   6139    264060  Pakistan  212215030.0

[205 rows x 6 columns])
<class 'tuple'> ('Panama',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0  Panama  4176873.0
1   2020-01-23         0      0         0  Panama  4176873.0
2   2020-01-24         0      0         0  Panama  4176873.0
3   2020-01-25         0      0         0  Panama  4176873.0
4   2020-01-26         0      0         0  Panama  4176873.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09     74492   1639     48748  Panama  4176873.0
201 2020-08-10     75394   1664     49510  Panama  4176873.0
202 2020-08-11     76464   1680     50665  Panama  4176873.0
203 2020-08-12     77377   1703     51597  Panama  4176873.0
204 2020-08-13     78446   1722     52210  Panama  4176873.0

[205 rows x 6 columns])
<class 'tuple'> ('Papua New Guinea',           date confirmed deaths recovered           country   pop_2018
0   2020-01-22         0      0         0  Papua New Guinea  8606316.0
1   2020-01-23         0      0         0  Papua New Guinea  8606316.0
2   2020-01-24         0      0         0  Papua New Guinea  8606316.0
3   2020-01-25         0      0         0  Papua New Guinea  8606316.0
4   2020-01-26         0      0         0  Papua New Guinea  8606316.0
..         ...       ...    ...       ...               ...        ...
200 2020-08-09       214      3        53  Papua New Guinea  8606316.0
201 2020-08-10       214      3        53  Papua New Guinea  8606316.0
202 2020-08-11       214      3        71  Papua New Guinea  8606316.0
203 2020-08-12       287      3        78  Papua New Guinea  8606316.0
204 2020-08-13       271      3        78  Papua New Guinea  8606316.0

[205 rows x 6 columns])
<class 'tuple'> ('Paraguay',           date confirmed deaths recovered   country   pop_2018
0   2020-01-22         0      0         0  Paraguay  6956071.0
1   2020-01-23         0      0         0  Paraguay  6956071.0
2   2020-01-24         0      0         0  Paraguay  6956071.0
3   2020-01-25         0      0         0  Paraguay  6956071.0
4   2020-01-26         0      0         0  Paraguay  6956071.0
..         ...       ...    ...       ...       ...        ...
200 2020-08-09      6907     75      5222  Paraguay  6956071.0
201 2020-08-10      7234     82      5276  Paraguay  6956071.0
202 2020-08-11      7519     86      5326  Paraguay  6956071.0
203 2020-08-12      8018     93      5384  Paraguay  6956071.0
204 2020-08-13      8389     97      5516  Paraguay  6956071.0

[205 rows x 6 columns])
<class 'tuple'> ('Peru',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0    Peru  31989256.0
1   2020-01-23         0      0         0    Peru  31989256.0
2   2020-01-24         0      0         0    Peru  31989256.0
3   2020-01-25         0      0         0    Peru  31989256.0
4   2020-01-26         0      0         0    Peru  31989256.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09    478024  21072    324020    Peru  31989256.0
201 2020-08-10    483133  21276    324020    Peru  31989256.0
202 2020-08-11    489680  21501    329404    Peru  31989256.0
203 2020-08-12    489680  21501    341938    Peru  31989256.0
204 2020-08-13    498555  21713    341938    Peru  31989256.0

[205 rows x 6 columns])
<class 'tuple'> ('Philippines',           date confirmed deaths recovered      country     pop_2018
0   2020-01-22         0      0         0  Philippines  106651922.0
1   2020-01-23         0      0         0  Philippines  106651922.0
2   2020-01-24         0      0         0  Philippines  106651922.0
3   2020-01-25         0      0         0  Philippines  106651922.0
4   2020-01-26         0      0         0  Philippines  106651922.0
..         ...       ...    ...       ...          ...          ...
200 2020-08-09    129913   2270     67673  Philippines  106651922.0
201 2020-08-10    136638   2294     68159  Philippines  106651922.0
202 2020-08-11    139538   2312     68432  Philippines  106651922.0
203 2020-08-12    143749   2404     68997  Philippines  106651922.0
204 2020-08-13    147526   2426     70387  Philippines  106651922.0

[205 rows x 6 columns])
<class 'tuple'> ('Poland',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0  Poland  37974750.0
1   2020-01-23         0      0         0  Poland  37974750.0
2   2020-01-24         0      0         0  Poland  37974750.0
3   2020-01-25         0      0         0  Poland  37974750.0
4   2020-01-26         0      0         0  Poland  37974750.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09     51791   1807     36691  Poland  37974750.0
201 2020-08-10     52410   1809     36877  Poland  37974750.0
202 2020-08-11     52961   1821     37150  Poland  37974750.0
203 2020-08-12     53676   1830     37611  Poland  37974750.0
204 2020-08-13     54487   1844     37961  Poland  37974750.0

[205 rows x 6 columns])
<class 'tuple'> ('Portugal',           date confirmed deaths recovered   country    pop_2018
0   2020-01-22         0      0         0  Portugal  10283822.0
1   2020-01-23         0      0         0  Portugal  10283822.0
2   2020-01-24         0      0         0  Portugal  10283822.0
3   2020-01-25         0      0         0  Portugal  10283822.0
4   2020-01-26         0      0         0  Portugal  10283822.0
..         ...       ...    ...       ...       ...         ...
200 2020-08-09     52668   1756     38511  Portugal  10283822.0
201 2020-08-10     52825   1759     38600  Portugal  10283822.0
202 2020-08-11     52945   1761     38760  Portugal  10283822.0
203 2020-08-12     53223   1764     38940  Portugal  10283822.0
204 2020-08-13     53548   1770     39177  Portugal  10283822.0

[205 rows x 6 columns])
<class 'tuple'> ('Qatar',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0   Qatar  2781677.0
1   2020-01-23         0      0         0   Qatar  2781677.0
2   2020-01-24         0      0         0   Qatar  2781677.0
3   2020-01-25         0      0         0   Qatar  2781677.0
4   2020-01-26         0      0         0   Qatar  2781677.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09    112947    184    109709   Qatar  2781677.0
201 2020-08-10    113262    188    109993   Qatar  2781677.0
202 2020-08-11    113646    188    110324   Qatar  2781677.0
203 2020-08-12    113938    190    110627   Qatar  2781677.0
204 2020-08-13    114281    190    110957   Qatar  2781677.0

[205 rows x 6 columns])
<class 'tuple'> ('Romania',           date confirmed deaths recovered  country    pop_2018
0   2020-01-22         0      0         0  Romania  19472545.0
1   2020-01-23         0      0         0  Romania  19472545.0
2   2020-01-24         0      0         0  Romania  19472545.0
3   2020-01-25         0      0         0  Romania  19472545.0
4   2020-01-26         0      0         0  Romania  19472545.0
..         ...       ...    ...       ...      ...         ...
200 2020-08-09     61768   2700     30119  Romania  19472545.0
201 2020-08-10     62547   2729     30311  Romania  19472545.0
202 2020-08-11     63762   2764     30585  Romania  19472545.0
203 2020-08-12     65177   2807     31048  Romania  19472545.0
204 2020-08-13     66631   2860     31547  Romania  19472545.0

[205 rows x 6 columns])
<class 'tuple'> ('Russia',           date confirmed deaths recovered country  pop_2018
0   2020-01-22         0      0         0  Russia       0.0
1   2020-01-23         0      0         0  Russia       0.0
2   2020-01-24         0      0         0  Russia       0.0
3   2020-01-25         0      0         0  Russia       0.0
4   2020-01-26         0      0         0  Russia       0.0
..         ...       ...    ...       ...     ...       ...
200 2020-08-09    885718  14903    692059  Russia       0.0
201 2020-08-10    890799  14973    695317  Russia       0.0
202 2020-08-11    895691  15103    701796  Russia       0.0
203 2020-08-12    900745  15231    708900  Russia       0.0
204 2020-08-13    905762  15353    714934  Russia       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Rwanda',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0  Rwanda  12301939.0
1   2020-01-23         0      0         0  Rwanda  12301939.0
2   2020-01-24         0      0         0  Rwanda  12301939.0
3   2020-01-25         0      0         0  Rwanda  12301939.0
4   2020-01-26         0      0         0  Rwanda  12301939.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09      2140      7      1346  Rwanda  12301939.0
201 2020-08-10      2152      7      1392  Rwanda  12301939.0
202 2020-08-11      2171      7      1478  Rwanda  12301939.0
203 2020-08-12      2189      8      1524  Rwanda  12301939.0
204 2020-08-13      2200      8      1558  Rwanda  12301939.0

[205 rows x 6 columns])
<class 'tuple'> ('Saint Kitts and Nevis',           date confirmed deaths recovered                country  pop_2018
0   2020-01-22         0      0         0  Saint Kitts and Nevis       0.0
1   2020-01-23         0      0         0  Saint Kitts and Nevis       0.0
2   2020-01-24         0      0         0  Saint Kitts and Nevis       0.0
3   2020-01-25         0      0         0  Saint Kitts and Nevis       0.0
4   2020-01-26         0      0         0  Saint Kitts and Nevis       0.0
..         ...       ...    ...       ...                    ...       ...
200 2020-08-09        17      0        16  Saint Kitts and Nevis       0.0
201 2020-08-10        17      0        17  Saint Kitts and Nevis       0.0
202 2020-08-11        17      0        17  Saint Kitts and Nevis       0.0
203 2020-08-12        17      0        17  Saint Kitts and Nevis       0.0
204 2020-08-13        17      0        17  Saint Kitts and Nevis       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Saint Lucia',           date confirmed deaths recovered      country  pop_2018
0   2020-01-22         0      0         0  Saint Lucia       0.0
1   2020-01-23         0      0         0  Saint Lucia       0.0
2   2020-01-24         0      0         0  Saint Lucia       0.0
3   2020-01-25         0      0         0  Saint Lucia       0.0
4   2020-01-26         0      0         0  Saint Lucia       0.0
..         ...       ...    ...       ...          ...       ...
200 2020-08-09        25      0        24  Saint Lucia       0.0
201 2020-08-10        25      0        24  Saint Lucia       0.0
202 2020-08-11        25      0        25  Saint Lucia       0.0
203 2020-08-12        25      0        25  Saint Lucia       0.0
204 2020-08-13        25      0        25  Saint Lucia       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Saint Vincent and the Grenadines',           date confirmed deaths recovered                           country  \
0   2020-01-22         0      0         0  Saint Vincent and the Grenadines
1   2020-01-23         0      0         0  Saint Vincent and the Grenadines
2   2020-01-24         0      0         0  Saint Vincent and the Grenadines
3   2020-01-25         0      0         0  Saint Vincent and the Grenadines
4   2020-01-26         0      0         0  Saint Vincent and the Grenadines
..         ...       ...    ...       ...                               ...
200 2020-08-09        57      0        52  Saint Vincent and the Grenadines
201 2020-08-10        57      0        52  Saint Vincent and the Grenadines
202 2020-08-11        57      0        52  Saint Vincent and the Grenadines
203 2020-08-12        57      0        52  Saint Vincent and the Grenadines
204 2020-08-13        57      0        55  Saint Vincent and the Grenadines

     pop_2018
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
..        ...
200       0.0
201       0.0
202       0.0
203       0.0
204       0.0

[205 rows x 6 columns])
<class 'tuple'> ('San Marino',           date confirmed deaths recovered     country  pop_2018
0   2020-01-22         0      0         0  San Marino   33785.0
1   2020-01-23         0      0         0  San Marino   33785.0
2   2020-01-24         0      0         0  San Marino   33785.0
3   2020-01-25         0      0         0  San Marino   33785.0
4   2020-01-26         0      0         0  San Marino   33785.0
..         ...       ...    ...       ...         ...       ...
200 2020-08-09       699     42       657  San Marino   33785.0
201 2020-08-10       699     42       657  San Marino   33785.0
202 2020-08-11       699     42       657  San Marino   33785.0
203 2020-08-12       699     42       657  San Marino   33785.0
204 2020-08-13       699     42       657  San Marino   33785.0

[205 rows x 6 columns])
<class 'tuple'> ('Sao Tome and Principe',           date confirmed deaths recovered                country  pop_2018
0   2020-01-22         0      0         0  Sao Tome and Principe  211028.0
1   2020-01-23         0      0         0  Sao Tome and Principe  211028.0
2   2020-01-24         0      0         0  Sao Tome and Principe  211028.0
3   2020-01-25         0      0         0  Sao Tome and Principe  211028.0
4   2020-01-26         0      0         0  Sao Tome and Principe  211028.0
..         ...       ...    ...       ...                    ...       ...
200 2020-08-09       878     15       800  Sao Tome and Principe  211028.0
201 2020-08-10       878     15       800  Sao Tome and Principe  211028.0
202 2020-08-11       881     15       804  Sao Tome and Principe  211028.0
203 2020-08-12       882     15       807  Sao Tome and Principe  211028.0
204 2020-08-13       883     15       808  Sao Tome and Principe  211028.0

[205 rows x 6 columns])
<class 'tuple'> ('Saudi Arabia',           date confirmed deaths recovered       country    pop_2018
0   2020-01-22         0      0         0  Saudi Arabia  33699947.0
1   2020-01-23         0      0         0  Saudi Arabia  33699947.0
2   2020-01-24         0      0         0  Saudi Arabia  33699947.0
3   2020-01-25         0      0         0  Saudi Arabia  33699947.0
4   2020-01-26         0      0         0  Saudi Arabia  33699947.0
..         ...       ...    ...       ...           ...         ...
200 2020-08-09    288690   3167    252039  Saudi Arabia  33699947.0
201 2020-08-10    289947   3199    253478  Saudi Arabia  33699947.0
202 2020-08-11    291468   3233    255118  Saudi Arabia  33699947.0
203 2020-08-12    293037   3269    257269  Saudi Arabia  33699947.0
204 2020-08-13    294519   3303    260393  Saudi Arabia  33699947.0

[205 rows x 6 columns])
<class 'tuple'> ('Senegal',           date confirmed deaths recovered  country    pop_2018
0   2020-01-22         0      0         0  Senegal  15854360.0
1   2020-01-23         0      0         0  Senegal  15854360.0
2   2020-01-24         0      0         0  Senegal  15854360.0
3   2020-01-25         0      0         0  Senegal  15854360.0
4   2020-01-26         0      0         0  Senegal  15854360.0
..         ...       ...    ...       ...      ...         ...
200 2020-08-09     11175    232      7352  Senegal  15854360.0
201 2020-08-10     11312    236      7390  Senegal  15854360.0
202 2020-08-11     11380    238      7449  Senegal  15854360.0
203 2020-08-12     11587    242      7523  Senegal  15854360.0
204 2020-08-13     11740    244      7572  Senegal  15854360.0

[205 rows x 6 columns])
<class 'tuple'> ('Serbia',           date confirmed deaths recovered country   pop_2018
0   2020-01-22         0      0         0  Serbia  6982604.0
1   2020-01-23         0      0         0  Serbia  6982604.0
2   2020-01-24         0      0         0  Serbia  6982604.0
3   2020-01-25         0      0         0  Serbia  6982604.0
4   2020-01-26         0      0         0  Serbia  6982604.0
..         ...       ...    ...       ...     ...        ...
200 2020-08-09     28099    641         0  Serbia  6982604.0
201 2020-08-10     28262    646         0  Serbia  6982604.0
202 2020-08-11     28497    652         0  Serbia  6982604.0
203 2020-08-12     28751    658         0  Serbia  6982604.0
204 2020-08-13     28998    661         0  Serbia  6982604.0

[205 rows x 6 columns])
<class 'tuple'> ('Seychelles',           date confirmed deaths recovered     country  pop_2018
0   2020-01-22         0      0         0  Seychelles   96762.0
1   2020-01-23         0      0         0  Seychelles   96762.0
2   2020-01-24         0      0         0  Seychelles   96762.0
3   2020-01-25         0      0         0  Seychelles   96762.0
4   2020-01-26         0      0         0  Seychelles   96762.0
..         ...       ...    ...       ...         ...       ...

[205 rows x 6 columns])
<class 'tuple'> ('Turkey',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0  Turkey  82319724.0
1   2020-01-23         0      0         0  Turkey  82319724.0
2   2020-01-24         0      0         0  Turkey  82319724.0
3   2020-01-25         0      0         0  Turkey  82319724.0
4   2020-01-26         0      0         0  Turkey  82319724.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09    240804   5844    223759  Turkey  82319724.0
201 2020-08-10    241997   5858    224970  Turkey  82319724.0
202 2020-08-11    243180   5873    226155  Turkey  82319724.0
203 2020-08-12    244392   5891    227089  Turkey  82319724.0
204 2020-08-13    245635   5912    228057  Turkey  82319724.0

[205 rows x 6 columns])
<class 'tuple'> ('US',           date confirmed  deaths recovered country  pop_2018
0   2020-01-22         1       0         0      US       0.0
1   2020-01-23         1       0         0      US       0.0
2   2020-01-24         2       0         0      US       0.0
3   2020-01-25         2       0         0      US       0.0
4   2020-01-26         5       0         0      US       0.0
..         ...       ...     ...       ...     ...       ...
200 2020-08-09   5044864  162938   1656864      US       0.0
201 2020-08-10   5094400  163463   1670755      US       0.0
202 2020-08-11   5141208  164527   1714960      US       0.0
203 2020-08-12   5197411  166034   1753760      US       0.0
204 2020-08-13   5248854  167110   1774648      US       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Uganda',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0  Uganda  42723139.0
1   2020-01-23         0      0         0  Uganda  42723139.0
2   2020-01-24         0      0         0  Uganda  42723139.0
3   2020-01-25         0      0         0  Uganda  42723139.0
4   2020-01-26         0      0         0  Uganda  42723139.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09      1283      7      1115  Uganda  42723139.0
201 2020-08-10      1297      9      1137  Uganda  42723139.0
202 2020-08-11      1313      9      1138  Uganda  42723139.0
203 2020-08-12      1332      9      1139  Uganda  42723139.0
204 2020-08-13      1353     11      1141  Uganda  42723139.0

[205 rows x 6 columns])
<class 'tuple'> ('Ukraine',           date confirmed deaths recovered  country    pop_2018
0   2020-01-22         0      0         0  Ukraine  44622518.0
1   2020-01-23         0      0         0  Ukraine  44622518.0
2   2020-01-24         0      0         0  Ukraine  44622518.0
3   2020-01-25         0      0         0  Ukraine  44622518.0
4   2020-01-26         0      0         0  Ukraine  44622518.0
..         ...       ...    ...       ...      ...         ...
200 2020-08-09     82767   1925     45335  Ukraine  44622518.0
201 2020-08-10     83812   1950     45723  Ukraine  44622518.0
202 2020-08-11     85023   1979     46313  Ukraine  44622518.0
203 2020-08-12     86504   1999     47084  Ukraine  44622518.0
204 2020-08-13     88136   2023     47678  Ukraine  44622518.0

[205 rows x 6 columns])
<class 'tuple'> ('United Arab Emirates',           date confirmed deaths recovered               country   pop_2018
0   2020-01-22         0      0         0  United Arab Emirates  9630959.0
1   2020-01-23         0      0         0  United Arab Emirates  9630959.0
2   2020-01-24         0      0         0  United Arab Emirates  9630959.0
3   2020-01-25         0      0         0  United Arab Emirates  9630959.0
4   2020-01-26         0      0         0  United Arab Emirates  9630959.0
..         ...       ...    ...       ...                   ...        ...
200 2020-08-09     62525    357     56568  United Arab Emirates  9630959.0
201 2020-08-10     62704    357     56766  United Arab Emirates  9630959.0
202 2020-08-11     62966    358     56961  United Arab Emirates  9630959.0
203 2020-08-12     63212    358     57193  United Arab Emirates  9630959.0
204 2020-08-13     63489    358     57372  United Arab Emirates  9630959.0

[205 rows x 6 columns])
<class 'tuple'> ('United Kingdom',           date confirmed deaths recovered         country    pop_2018
0   2020-01-22         0      0         0  United Kingdom  66460344.0
1   2020-01-23         0      0         0  United Kingdom  66460344.0
2   2020-01-24         0      0         0  United Kingdom  66460344.0
3   2020-01-25         0      0         0  United Kingdom  66460344.0
4   2020-01-26         0      0         0  United Kingdom  66460344.0
..         ...       ...    ...       ...             ...         ...
200 2020-08-09    312574  46659      1451  United Kingdom  66460344.0
201 2020-08-10    313392  46611      1463  United Kingdom  66460344.0
202 2020-08-11    314542  46714      1464  United Kingdom  66460344.0
203 2020-08-12    315581  46791      1472  United Kingdom  66460344.0
204 2020-08-13    315600  46791      1479  United Kingdom  66460344.0

[205 rows x 6 columns])
<class 'tuple'> ('Uruguay',           date confirmed deaths recovered  country   pop_2018
0   2020-01-22         0      0         0  Uruguay  3449299.0
1   2020-01-23         0      0         0  Uruguay  3449299.0
2   2020-01-24         0      0         0  Uruguay  3449299.0
3   2020-01-25         0      0         0  Uruguay  3449299.0
4   2020-01-26         0      0         0  Uruguay  3449299.0
..         ...       ...    ...       ...      ...        ...
200 2020-08-09      1353     37      1125  Uruguay  3449299.0
201 2020-08-10      1364     37      1146  Uruguay  3449299.0
202 2020-08-11      1385     37      1157  Uruguay  3449299.0
203 2020-08-12      1393     37      1163  Uruguay  3449299.0
204 2020-08-13      1409     37      1180  Uruguay  3449299.0

[205 rows x 6 columns])
<class 'tuple'> ('Uzbekistan',           date confirmed deaths recovered     country    pop_2018
0   2020-01-22         0      0         0  Uzbekistan  32956100.0
1   2020-01-23         0      0         0  Uzbekistan  32956100.0
2   2020-01-24         0      0         0  Uzbekistan  32956100.0
3   2020-01-25         0      0         0  Uzbekistan  32956100.0
4   2020-01-26         0      0         0  Uzbekistan  32956100.0
..         ...       ...    ...       ...         ...         ...
200 2020-08-09     30609    194     22042  Uzbekistan  32956100.0
201 2020-08-10     31304    200     22992  Uzbekistan  32956100.0
202 2020-08-11     31747    204     23704  Uzbekistan  32956100.0
203 2020-08-12     32654    211     25659  Uzbekistan  32956100.0
204 2020-08-13     33323    216     27213  Uzbekistan  32956100.0

[205 rows x 6 columns])
<class 'tuple'> ('Venezuela',           date confirmed deaths recovered    country  pop_2018
0   2020-01-22         0      0         0  Venezuela       0.0
1   2020-01-23         0      0         0  Venezuela       0.0
2   2020-01-24         0      0         0  Venezuela       0.0
3   2020-01-25         0      0         0  Venezuela       0.0
4   2020-01-26         0      0         0  Venezuela       0.0
..         ...       ...    ...       ...        ...       ...
200 2020-08-09     25805    223     13356  Venezuela       0.0
201 2020-08-10     26800    229     16930  Venezuela       0.0
202 2020-08-11     27938    238     19706  Venezuela       0.0
203 2020-08-12     29088    247     21042  Venezuela       0.0
204 2020-08-13     30369    259     21385  Venezuela       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Vietnam',           date confirmed deaths recovered  country    pop_2018
0   2020-01-22         0      0         0  Vietnam  95540395.0
1   2020-01-23         2      0         0  Vietnam  95540395.0
2   2020-01-24         2      0         0  Vietnam  95540395.0
3   2020-01-25         2      0         0  Vietnam  95540395.0
4   2020-01-26         2      0         0  Vietnam  95540395.0
..         ...       ...    ...       ...      ...         ...
200 2020-08-09       841     13       395  Vietnam  95540395.0
201 2020-08-10       847     15       399  Vietnam  95540395.0
202 2020-08-11       866     16       451  Vietnam  95540395.0
203 2020-08-12       883     18       409  Vietnam  95540395.0
204 2020-08-13       911     21       425  Vietnam  95540395.0

[205 rows x 6 columns])
<class 'tuple'> ('West Bank and Gaza',           date confirmed deaths recovered             country   pop_2018
0   2020-01-22         0      0         0  West Bank and Gaza  4569087.0
1   2020-01-23         0      0         0  West Bank and Gaza  4569087.0
2   2020-01-24         0      0         0  West Bank and Gaza  4569087.0
3   2020-01-25         0      0         0  West Bank and Gaza  4569087.0
4   2020-01-26         0      0         0  West Bank and Gaza  4569087.0
..         ...       ...    ...       ...                 ...        ...
200 2020-08-09     14208     97      7945  West Bank and Gaza  4569087.0
201 2020-08-10     14510    100      8045  West Bank and Gaza  4569087.0
202 2020-08-11     14875    104      8181  West Bank and Gaza  4569087.0
203 2020-08-12     15184    105      8369  West Bank and Gaza  4569087.0
204 2020-08-13     15491    106      9186  West Bank and Gaza  4569087.0

[205 rows x 6 columns])
<class 'tuple'> ('Western Sahara',           date confirmed deaths recovered         country  pop_2018
0   2020-01-22         0      0         0  Western Sahara       0.0
1   2020-01-23         0      0         0  Western Sahara       0.0
2   2020-01-24         0      0         0  Western Sahara       0.0
3   2020-01-25         0      0         0  Western Sahara       0.0
4   2020-01-26         0      0         0  Western Sahara       0.0
..         ...       ...    ...       ...             ...       ...
200 2020-08-09        10      1         8  Western Sahara       0.0
201 2020-08-10        10      1         8  Western Sahara       0.0
202 2020-08-11        10      1         8  Western Sahara       0.0
203 2020-08-12        10      1         8  Western Sahara       0.0
204 2020-08-13        10      1         8  Western Sahara       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Yemen',           date confirmed deaths recovered country  pop_2018
0   2020-01-22         0      0         0   Yemen       0.0
1   2020-01-23         0      0         0   Yemen       0.0
2   2020-01-24         0      0         0   Yemen       0.0
3   2020-01-25         0      0         0   Yemen       0.0
4   2020-01-26         0      0         0   Yemen       0.0
..         ...       ...    ...       ...     ...       ...
200 2020-08-09      1804    515       913   Yemen       0.0
201 2020-08-10      1832    518       915   Yemen       0.0
202 2020-08-11      1831    523       915   Yemen       0.0
203 2020-08-12      1841    528       937   Yemen       0.0
204 2020-08-13      1847    528       949   Yemen       0.0

[205 rows x 6 columns])
<class 'tuple'> ('Zambia',           date confirmed deaths recovered country    pop_2018
0   2020-01-22         0      0         0  Zambia  17351822.0
1   2020-01-23         0      0         0  Zambia  17351822.0
2   2020-01-24         0      0         0  Zambia  17351822.0
3   2020-01-25         0      0         0  Zambia  17351822.0
4   2020-01-26         0      0         0  Zambia  17351822.0
..         ...       ...    ...       ...     ...         ...
200 2020-08-09      8085    235      6698  Zambia  17351822.0
201 2020-08-10      8210    241      6802  Zambia  17351822.0
202 2020-08-11      8275    241      7004  Zambia  17351822.0
203 2020-08-12      8501    246      7233  Zambia  17351822.0
204 2020-08-13      8663    246      7401  Zambia  17351822.0

[205 rows x 6 columns])
<class 'tuple'> ('Zimbabwe',           date confirmed deaths recovered   country    pop_2018
0   2020-01-22         0      0         0  Zimbabwe  14439018.0
1   2020-01-23         0      0         0  Zimbabwe  14439018.0
2   2020-01-24         0      0         0  Zimbabwe  14439018.0
3   2020-01-25         0      0         0  Zimbabwe  14439018.0
4   2020-01-26         0      0         0  Zimbabwe  14439018.0
..         ...       ...    ...       ...       ...         ...
200 2020-08-09      4649    104      1437  Zimbabwe  14439018.0
201 2020-08-10      4748    104      1524  Zimbabwe  14439018.0
202 2020-08-11      4818    104      1524  Zimbabwe  14439018.0
203 2020-08-12      4893    122      1620  Zimbabwe  14439018.0
204 2020-08-13      4990    128      1927  Zimbabwe  14439018.0

[205 rows x 6 columns])