In [21]:
import pandas as pd

In [58]:
# df = pd.read_excel (r'progemis/Anlagen PROGEMIS_Export_20210519_131120.xlsx', sheet_name='PROGEMIS_XLSX20210519_131120')
df = pd.read_excel (r'progemis/Lose GUV GKS Auftragsnummern.xlsx', sheet_name='Gewässerverzeichnis')
# df = pd.read_excel (r'progemis/Unterhaltungsabschnitte PROGEMIS_Export_20210519_131003.xlsx', sheet_name='PROGEMIS_XLSX20210519_131003')

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449 entries, 0 to 448
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   lfd.             449 non-null    object
 1   GWK              449 non-null    object
 2   Name Gewässer    449 non-null    object
 3   lfd..1           410 non-null    object
 4   GWK.1            410 non-null    object
 5   Name Gewässer.1  410 non-null    object
dtypes: object(6)
memory usage: 21.2+ KB

In [60]:
df1 = df[['lfd.', 'GWK', 'Name Gewässer']].copy()

In [61]:
df2 = df[['lfd..1', 'GWK.1', 'Name Gewässer.1']].copy().rename(columns={'lfd..1': 'lfd.', 'GWK.1': "GWK", 'Name Gewässer.1': "Name Gewässer"})

In [62]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449 entries, 0 to 448
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   lfd.           410 non-null    object
 1   GWK            410 non-null    object
 2   Name Gewässer  410 non-null    object
dtypes: object(3)
memory usage: 10.6+ KB

In [63]:
df2.index += len(df1)

In [64]:
result = pd.concat([df1, df2])

In [67]:
indexNames = result[ result['GWK'] == 'GWK'].index

In [69]:
result.to_excel("progemis/output.xlsx", index=False)

PermissionError: [Errno 13] Permission denied: 'progemis/output.xlsx'

In [68]:
result.drop(indexNames , inplace=True)

In [19]:
df['Unterhaltungsziel'].unique()

array(['Basis-Unterhaltung', 'Intensive Unterhaltung',
       'Ökologische Entwicklung'], dtype=object)

In [20]:
df.head()

,Checkbox,Name des Gewässers,Gewässer ID,Gewässerordnung,Gemeinde(n),Landkreis,Zuständigkeit,Laufende Abschnittnummer,Unterhaltungsziel
0,NaN,NaN,13804,0,Roßleben-Wiehe,Kyffhäuserkreis,Gewässerunterhaltungsverband,1,Basis-Unterhaltung
1,NaN,Lache,2340,2,Am Ettersberg,Weimarer Land,Gewässerunterhaltungsverband,4,Basis-Unterhaltung
2,NaN,Monna,2352,2,Kölleda,Sömmerda,Gewässerunterhaltungsverband,7,Basis-Unterhaltung
3,NaN,NaN,11948,0,Kölleda,Sömmerda,Gewässerunterhaltungsverband,1,Intensive Unterhaltung
4,NaN,Rassel,2338,2,Am Ettersberg,Weimarer Land,Gewässerunterhaltungsverband,11,Intensive Unterhaltung

In [15]:
df[df['GWK'] == 56436]

  lfd.    GWK Name Gewässer lfd..1    GWK.1 Name Gewässer.1
0    1  56436         Lossa     50  5643696   Gelber Graben

In [25]:
df

    lfd.       GWK Name Gewässer lfd..1    GWK.1             Name Gewässer.1
0      1     56436         Lossa     50  5643696               Gelber Graben
1      2     56472    Flutgraben     51  5643712               Langer Graben
2      3     56474     Solgraben     52  5643722  Graben von der Kiebitzhöhe
3      4     56476  Kleine Helme     53  5643724                  Riedgraben
4      5     56488         Rohne     54  5643726          Dermsdorfer Graben
..   ...       ...           ...    ...      ...                         ...
444  829  99996125   Gr_Geho_018    NaN      NaN                         NaN
445  830  99996126   Gr_Geho_019    NaN      NaN                         NaN
446  831  99996127   Gr_Ritt_033    NaN      NaN                         NaN
447  832  99996128   Gr_Wieh_027    NaN      NaN                         NaN
448  833  99996129   Gr_Wieh_028    NaN      NaN                         NaN

[449 rows x 6 columns]